[2018-02-28 04:50] SteffeyDev opened #2 "Popover position off when rotating while popover has accommodated for keyboard"
If the popover has to shift to accommodate the keyboard, and then the screen is rotated with the popover and keyboard still open, the popover tends to get confused about where it should be.  Need to investigate.

[2018-04-04 03:51] craftzdog opened #3 "Custom Arrow Color"
Thanks for the great work.

It'd be great if it could change the arrow color of the popover.
What do you think about accepting `style` prop?

[2018-04-04 04:04] craftzdog opened #4 "Android Support"
It's promising but the demo app didn't work on Android at all.
Any plan to support Android?

[2018-04-04 04:49] SteffeyDev commented on #4
The actual popover view does fully support android, I’m using it in an Android app that is currently on th Play Store. Admittedly I don't test the demo on Android, so I'll definitely check that out!

[2018-04-04 13:26] SteffeyDev commented on #3
What other style elements besides changing the color would you want?  The arrow size has to be it's own prop because it is used to calculate the position of the Popover.  I could easily add an `arrowColor` prop, I feel like adding a `style` prop would lead to a lot of "Why doesn't setting `width`, `height`, `elevation`, `shadowColor`, etc work?" questions.  However, I would consider it if there en

[2018-04-05 04:08] SteffeyDev commented on #4
Ok, so I didn't realize that on Android, RN's SafeAreaView was a no-op, so now that I added an OS check it works as expected.  I just need to do some more testing.  I also noticed that react-navigation has been making a lot of changes.  @craftzdog, do you use react-navigation, and if so what version?

[2018-04-05 05:29] craftzdog commented on #4
I'm not sure because I've just run [your demo](https://expo.io/@steffeydev/popover-view-test-app) on Expo client.
But I also tried it in my project which uses react-navigation@1.5.8.

[2018-04-05 05:40] craftzdog commented on #3
My idea is based on [NativeBase](https://nativebase.io/) components. For example, `Header` accepts `style` prop which lets you change background color, margins, paddings, etc.
`style` prop would work like that for the popover.
If you specify `background: red`, the entire popover color including arrow will be red.
`width` and `height` styles change the size of the popover.

Having props like `arrow

[2018-04-05 13:35] SteffeyDev commented on #4
Ok, I'll try to push out working android popover in the next few days, but unfortunately the developer behind react-navigation has done a ton of changes to the library in the last month and I'm going to have to re-reverse-engineer it to work with 1.5.x, so I can't promise that as fast.

[2018-05-03 19:37] mattyx96 opened #5 "Android Support"
Thank you for this beautiful work
I know that this library have problems with android
I tryed this library on my project (android) and i noticed that the pop over is displayed only if i rotate the display after call the show pop over function
Maybe this can help you to fix
When do you think this library will support android?

[2018-05-03 19:38] SteffeyDev commented on #5
Yes, I identified the issue and already have a fix for Android.  I was holding of releasing because I found another bug on Android, but I'll go ahead and push the fix and tackle the bug later.

[2018-05-03 19:43] mattyx96 commented on #5
Good, i hope that this library will be available as soon as possible

[2018-05-03 19:49] SteffeyDev commented on #5
Ok, I just pushed the new version 0.6.4, let me know if it works for you!

[2018-05-03 19:50] SteffeyDev commented on #4
Ok, just fixed the android bug, so it should at least work on Android with 0.6.4.  However, I still haven't updated to the latest version of react navigation, so it may or may not work with that.

[2018-05-03 20:02] mattyx96 commented on #5
Can't find variable: PopoverStackNavigator

I have not used any PopoverStackNavigator

[2018-05-03 20:29] SteffeyDev commented on #5
Does your project have react-navigation as a dependency?

[2018-05-03 20:45] SteffeyDev commented on #5
I see the same error, but I have absolutely no clue why

[2018-05-03 21:10] SteffeyDev commented on #5
Ok, for some reason it published the wrong branch, try 0.6.5, it should be fixed now

[2018-05-03 21:42] mattyx96 commented on #5
It works!

[2018-05-03 21:42] #5 closed

[2018-05-15 04:39] SteffeyDev commented on #3
Ok, check out new version 0.7.0, now supports `popoverStyle` and `arrowStyle`.  If you pass a `backgroundColor` to `popoverStyle`, it will also change the background color of the arrow unless you override it with `arrowColor`.  You can also check out `react-native-popover-view-test-app` on Expo & GitHub to see a new button that demos a "Dark Theme".

[2018-05-15 04:43] #3 closed

[2018-05-16 18:17] eric101110 opened #7 "Unable to resolve module `.../../react-navigation/src/views/CardStack/CardStackTransitioner`"
Unable to resolve module `.../../react-navigation/src/views/CardStack/CardStackTransitioner`

\node_modules\react-native-popover-view\src\PopoverStackNavigator.js`: Module does not exist in the module map

I have  "react-navigation": "^1.5.11", installed

[2018-05-17 03:09] SteffeyDev commented on #7
Unfortunately, I have not updated to the latest version of react-navigation yet. Upgrading is a fairly involved process, as I have to find which files I need to overwrite for it to behave properly. If you know anything about react-navigation in depth, I could definitely use the expertise. If not, I will try to get on it this weekend.

[2018-05-19 20:26] SteffeyDev commented on #7
Ok, that was fun.  @eric101110 `react-native-popover-view@1.0.x` now supports `react-navigation@2.0.1`, go ahead and check it out when you have the chance!  Not sure if it will work with `react-navigation@1.5.11`, but you can always try it out and let me know.

[2018-05-30 08:16] SteffeyDev commented on #7
Closing, @eric101110 let me know if this doesn't work for you

[2018-05-30 08:16] #7 closed

[2018-07-28 12:48] VadyaVL opened #8 "Can't find types."
Plese, add @types to this lib.
Thanks.

[2018-07-28 13:49] SteffeyDev commented on #8
I don’t really know how to add types from that library, what are the advantages of doing so? Also feel free to do a PR. Is the lack of types causing an error, or is it just a convinience?

[2018-08-02 01:44] tslater opened #9 "Add parameters to control animations"
I have different situations where the default animation is acting strange. I'd like the ability to adjust duration, easing, or turn it off altogether.

[2018-08-03 14:54] SteffeyDev commented on #9
That can be done; if you do a PR I’ll push it through, or I’ll do it myself as soon as I have the chance.

[2018-08-08 03:54] doginthehat opened #10 "Getting a TypeError crash"
Hi,

I keep running in the same crash, takes a few seconds to popup but it always does.

Can't quite work out what's causing it.

I'm running it with Expo (v28).

![simulator screen shot - iphone 8 - 2018-08-08 at 13 17 43](https://user-images.githubusercontent.com/843366/43815263-1388efae-9b0e-11e8-9438-4db2543a9687.png)

Not sure what else to provide. Let me know what could help?

Ben

[2018-08-08 04:19] doginthehat commented on #10
Seems to be triggered by this (according to the debugger)

<img width="626" alt="screen shot 2018-08-08 at 13 42 42" src="https://user-images.githubusercontent.com/843366/43815979-aa8b9f5c-9b11-11e8-8d38-24abc032c175.png">

[2018-08-08 04:27] SteffeyDev commented on #10
Thanks for doing all the debugging work! I'll make that change real fast and we'll see if it fixes the issue.

[2018-08-08 04:30] doginthehat commented on #10
@SteffeyDev Thanks for your quick reply too!

[2018-08-08 04:58] SteffeyDev commented on #9
@tslater Ok, version 1.0.1 on NPM now contains an `animationConfig` prop.  You can override any animation options, and my `react-native-popover-view-test-app` expo project demonstrates how you can disable animations using `animationConfig={{ duration: 0 }}`.  Of course you can also change the easing and other animation properties.

[2018-08-08 04:59] SteffeyDev commented on #10
@doginthehat Ok, I just published version 1.0.1 on NPM which includes the fix, let me know if it works for you!

[2018-08-08 05:02] doginthehat commented on #10
That's quick! Trying now.

[2018-08-08 05:10] doginthehat commented on #10
Smashed it, all done.

[2018-08-08 05:11] doginthehat commented on #10
There should be an award for fastest resolved github issue 🏆

[2018-08-08 05:30] SteffeyDev commented on #10
Awesome!

[2018-08-08 05:30] #10 closed

[2018-08-08 13:16] tslater commented on #9
That is super awesome! Thanks a bunch. I'll try it out.

[2018-08-09 21:26] rlugge opened #11 "Dependency Error"
So I just started trying to use this, and immediately got an error:

```Unable to resolve ../../react-navigation/src/navigators/createKeyboardAwareNavigator" from ".//node_modules/react-native-popover-view/src/PopoverStackNavigator.js`: The module `../../react-navigation/src/navigators/createKeyboardAwareNavigator` could not be found"```

Not sure what I did wrong here.

[2018-08-09 22:25] SteffeyDev commented on #11
What version of react-navigation are you using?

[2018-08-10 07:05] rlugge commented on #11
Looks like 1.5.12.

On Thu, Aug 9, 2018 at 3:25 PM Peter Steffey <notifications@github.com>
wrote:

[2018-08-10 12:02] SteffeyDev commented on #11
Ok, I officially only support version 2, and unfortunately don’t have time to do backward comparability right now with older versions. Can you upgrade to the latest version of react-navigation? I don’t know if they made any breaking changes or not.

[2018-08-11 17:42] rlugge commented on #11
Ah.  My understanding is they made a number of breaking changes.  Sorry to
have bothered you, didn't catch the dependency issue.

On Fri, Aug 10, 2018 at 5:02 AM Peter Steffey <notifications@github.com>
wrote:

[2018-08-11 18:05] SteffeyDev commented on #11
Ok, do you have an interest in using the popover independently of react navigation? I can provide instructions to decouple it, though as long as my library detects react-navigation it will try to link it.

[2018-08-11 22:55] rlugge commented on #11
Nah, thanks but I found a work-around with a different UI option.  I'm just
shocked this isn't a core react-native feature.

On Sat, Aug 11, 2018 at 11:05 AM Peter Steffey <notifications@github.com>
wrote:

[2018-08-13 03:08] hannesmcman commented on #2
We have noticed that the popover does not readjust itself properly when the screen is rotated. The anchor point for the arrow is off and the size of the popover is not limited to the size of the screen as it should be. I've poked around a bit, but haven't been able to figure out how to fix this yet. Any help would be greatly appreciated! Thanks!

Screenshots from our app:

Before Rotation | After

[2018-08-17 00:04] SM-Wistful opened #14 "Popover does not show if isVisible is initially true"
I pasted the "Standalone" example into my project. At the top of the file:

```import Popover from 'react-native-popover-view'```

In render:

[code]

It simply does not work... there are no errors but nothing shows up. I am using an iOS simulator (yes, `this.state.isVisible` is true).  Is there some other setup required or what? I thought the width and size props were optional.

[2018-08-17 00:10] SM-Wistful commented on #14
Okay, well it seems to me like isVisible CAN'T start off as true.

[2018-08-17 03:26] SM-Wistful commented on #14
Thanks! The work you've done is awesome, I was just confused a bit at the start as I wanted to have it visible automatically for debugging purposes :)

[2018-08-17 03:30] SteffeyDev commented on #11
Ok glad you found a solution!  One of the things about react native is that there is no navigation components built in, though I suppose you can count react-navigation because it is the recommended UI library. I’d love to merge this into react-navigation someday.

Anyways, is it ok if I close the issue?

[2018-08-17 03:33] SteffeyDev commented on #14
I’m glad you find it useful!  I could probably add support for that, I’ll look into it to see how hard it would be.

[2018-08-17 05:10] #9 closed

[2018-08-17 05:27] SteffeyDev commented on #14
Ok, it should now work with isVisible set to true initially, if you want to test and let me know if it works for you that would be great!

[2018-08-21 00:47] #14 closed

[2018-08-21 00:47] #11 closed

[2018-08-21 12:47] SteffeyDev commented on #2
@hannesmcman do you have your view in the popover in a ScrollView? I think it will only limit the height if it is allowed to, which is only when the first child of the popover is a scroll view.

[2018-08-21 12:53] SteffeyDev commented on #2
And are you passing in the button as a view to the popover? Or as a rect?

[2018-08-21 15:01] hannesmcman commented on #2
@SteffeyDev The view inside the popover is a ScrollView, yes. And we are passing in the button as a view. We were able to resolve this issue by wrapping the Popover itself in a Viewport component, which re-renders its children upon orientation changes. If you are interested in incorporating something similar into the Popover itself, so that it works out of the box, [here]( https://github.com/StoDe

[2018-08-21 15:13] SteffeyDev commented on #2
Ok, it looks like the viewport is just causing a state change on rotation.  Does the popover shift at all post-rotation without the viewport? I'm trying to figure out why it works in my test app but not in your app.  Are you using react-navigation?

[2018-08-21 15:18] SteffeyDev commented on #2
What should happen is that the popover won't move during rotation, but after the rotation is finished you should see it shift to the new location.  I'm wondering if it is just shifting to the wrong place or not shifting at all?

[2018-08-21 15:36] hannesmcman commented on #2
We are using react-navigation, but didn't follow the steps outlined [here](https://github.com/SteffeyDev/react-native-popover-view#usage-with-react-navigation) to integrate the popover component with react-navigation, as it was unnecessary for our use case. Here are some very pixelated gifs that demonstrate what we're seeing:

With Viewport | Without Viewport
-- | --
![with-viewport](https://user-

[2018-08-21 15:58] SteffeyDev commented on #2
Perfect, so it looks like the viewport is simply triggering a refresh, which triggers the popover's onLayout and moves to the new location.  I just added the dimension change listener and released as 1.0.5, can you test and see if that works?

[2018-08-21 17:46] hannesmcman commented on #2
Just tested it on v1.0.5 and it didn't fix it.. 😞 Idk why the onLayout callback is not doing its job..

[2018-08-21 21:21] SilentChris opened #15 "Shadow style not displaying"
Running on React Native 0.55.4

I noticed that the default styles for the popover include a box shadow around the view. Unfortunately, this doesn't seem to be displaying.

It seems that the issue might be a conflict with `Animated.View` and the `boxShadow` styles. If I manually hack it so that the styles get applied to a regular `View` child below the `Animated.View`, the shadow displays as expect

[2018-08-22 00:40] SM-Wistful opened #16 "Does not function on certain devices"
Hello!

It works perfectly in the iOS simulator; however, I have tested on a physical device (both iPhone and iPad) and it does not render.

In fact, trying to present the popover actually crashes the app with no error... it just freezes. I really liked this library but this is a deal-breaker. I am building with Xcode 9.4.1

[2018-08-22 01:01] SM-Wistful commented on #16
Okay, further inspection reveals that it's not crashing the app, it just seems like it's rendering incorrectly and covering the entire screen.

[2018-08-22 05:05] surendharreddy commented on #16
Thanks for reporting it @SM-Wistful, I also faced this issue in production. In my case, it was working fine on iPhone X but not on other iOS devices.

[2018-08-22 15:30] SteffeyDev commented on #16
@SM-Wistful Can you download my Test App (https://expo.io/@steffeydev/popover-view-test-app) on those physical devices and see if it works inside there?  You will need to download the Expo app first.

[2018-08-22 15:32] SteffeyDev commented on #16
If it works inside the test app but not in your app, I invite you to look at the test app source code to see if you can find the difference, and I would be happy to help you in that, as I want this library to work in as many situations as possible.  If it does not work in the test app, let me know what models don’t work and I will try to get a hold of the device to test on.

[2018-08-22 15:34] SteffeyDev commented on #15
Interesting, can you upload screenshots to show the difference, or submit a PR with your fix?

[2018-08-24 13:46] reilem opened #17 "error: bundling failed: Error: Unable to resolve module `../../react-navigation/src/views/StackView/StackView`"
Thanks for all the work put into this repo. It works really well. However I tried upgrading to react-navigation v2.12.1 and I keep getting this error:

I am not using this library for react navigation integration, I just want the component. Is there a way to turn off this react-navigation integration option? It is causing more headaches than it solves.

I'm using v1.0.5 of this repo.

[2018-08-24 18:11] SteffeyDev commented on #17
There is a way, but it’s not the most straight forward. I do know that they were doing refracting in 2.12.1, so I’ll have to refactor as well.

As you are not the first to run into this problem, I’m thinking of breaking this into two different npn repositories, one for react-navigation integration and one for not. I have an idea of how to do it, so I’ll give it a go tonight and let you know if it

[2018-08-25 05:10] SteffeyDev commented on #17
Ok, I have now split react-native-popover-view into two libraries!  I moved all of the react-navigation stuff into `react-navigation-popover` and updated to work with 2.12.x, and now this repository only contains the base popover.  Let me know if this fixes your issue!

[2018-08-25 05:11] SteffeyDev commented on #16
I just pushed an update with a number of fixes, check out version 1.0.7 to see if the issue still persists.  If it does, please check out my troubleshooting steps above.

[2018-08-25 05:12] SteffeyDev commented on #2
@hannesmcman Ok, try is now with 1.0.7!  I made a number of fixes to the layout system and am hopeful that an issue I found was the one you are experiencing.

[2018-08-25 05:48] SM-Wistful commented on #16
Hi! Sorry for taking so long to get back to you on this. I don't have my iPad available right now, but I will test it tomorrow and let you know. Thanks for all the work you are doing on this :)

[2018-08-25 21:08] SteffeyDev commented on #16
No logs, but did you try out the expo test app?

[2018-08-27 02:38] #17 closed

[2018-08-27 02:40] SteffeyDev commented on #2
@hannesmcman I'm curious if 1.0.7 allows you to use the popover without the viewport wrapper, it would be awesome if you could test it out again when you get the chance.

[2018-08-28 14:38] hannesmcman commented on #2
@SteffeyDev Just tested v1.0.7 without the Viewport wrapper and it works like a charm! :)

[2018-08-28 15:27] SteffeyDev commented on #2
Awesome, great to hear!

[2018-08-28 22:38] SM-Wistful commented on #16
I can do that, but it seems unlikely my app is the issue. The exact same app works perfectly on iPhones, but breaks when I run it on an iPad...

[2018-08-28 23:44] SteffeyDev commented on #16
That’s fine, my test app will give you a range of popovers to test on device so we can try and pinpoint the exact issue

[2018-08-31 04:25] duchunter opened #18 "Popover doesn't return to initial position after being shifted by keyboard"
- Before keyboard show:
![screenshot_2018-08-31-11-20-36-526_host exp exponent](https://user-images.githubusercontent.com/23138920/44892703-76433c80-ad10-11e8-94a2-0390ef8ce115.png)
- After keyboard hide:
![screenshot_2018-08-31-11-20-48-202_host exp exponent](https://user-images.githubusercontent.com/23138920/44892714-82c79500-ad10-11e8-80b5-34a581f16454.png)

[2018-08-31 16:36] SteffeyDev commented on #18
It is working as expected on my iPhone X, what device and OS is the issue on?

[2018-09-01 12:44] duchunter commented on #18
I have this issue on my phone - Redmi 3S android 6.0.1, and my emulator Nexus 5X android 7.1.1

[2018-09-02 04:24] #18 closed, assigned to nobody

[2018-09-11 17:44] drewvolz commented on #16
I enabled debug in `react-native-popover-view` and it appears we're sitting on `measureContent()`.

The last line in debug is from Popover.js line 145.

https://github.com/SteffeyDev/react-native-popover-view/blob/59140c995b46199e9badbb618970e10b0e01b6c0/src/Popover.js#L141-L146

`measureContent - Waiting - requestedContentSize`

Log | Line
--|--
componentWillReceiveProps - Awaiting popover show |

[2018-09-11 18:07] hannesmcman commented on #2
@SteffeyDev Can this be closed?

[2018-09-13 14:30] SteffeyDev commented on #2
Unfortunately not, the original reason for which I opened this issue is still not resolved... I need to work on the rotating while keyboard open bugs.

[2018-09-13 14:34] SteffeyDev commented on #16
I don't have a way of testing against older iOS versions, but it may have to do with RN's SafeAreaView on older versions.  @drewvolz Try putting `if (DEBUG) console.log(this.safeAreaViewReady);` after line 145, this will tell us if that is the issue.  If it is, I can make the safeAreaView check only active on iOS versions >= 11.

[2018-09-13 14:37] SteffeyDev commented on #16
According to https://github.com/facebook/react-native/issues/17638 and https://github.com/facebook/react-native/issues/18255, it looks like SafeAreaView does not support iOS 10 and below.  I'll either add a version check or switch to https://github.com/react-community/react-native-safe-area-view.

[2018-09-13 14:39] SteffeyDev commented on #16
I'm downloading iOS 10.3.1 and iOS 9.3 simulators now so I can test

[2018-09-13 16:08] drewvolz commented on #16
@SteffeyDev adding `if (DEBUG) console.log(this.safeAreaViewReady);` after line 145 on iOS 9.3 comes back as `true` when trying to activate the popover.

[2018-09-13 16:29] SteffeyDev commented on #16
Ok, thanks for testing that.  It looks like RN’s SafeAreaView just doesn’t do anything on versions older than iOS 11, so I’m switching to `react-native-safe-area-view`, which unfortunately has a number of drawbacks in it’s own implementation, so once I find a way to accomadate those I will be able to push a fix.

[2018-09-13 16:41] drewvolz commented on #16
Let us know if there's anything we can do to help. We appreciate you looking into switching to `react-native-safe-area-view` and dealing with the unfortunate drawbacks.

[2018-09-14 01:41] SteffeyDev opened #20 "Android non-standard arrow size leaves gap in landscape"
For some reason, on Android only, when the popover is showing when the device is landscape, the arrow is smaller than it should be when it is set to a non-standard size.

[2018-09-14 01:52] SteffeyDev commented on #16
Ok, check out v1.0.9 and let me know how it works for you!

[2018-09-14 13:52] reilem opened #21 "Broken on RN 0.57.0"
I think this may be related to #16 . Ever since I updated to react-native 0.57, whenever I try to open the popover the entire app just "freezes". I suspect that there is some sort of invisible overlay blocking all user interaction because I can still shake to refresh and access dev menu.

[2018-09-14 14:08] SteffeyDev commented on #21
What OS, OS version, device, and react-native-popover-view version are you using?

[2018-09-14 14:11] SteffeyDev commented on #21
You are correct about the invisible overlay, the popover is presented invisible first until the dimensions are calculated, and then it is animated in

[2018-09-14 17:38] drewvolz commented on #16
v1.0.9 does fix the issue we were seeing iOS 9 👍

[2018-09-14 19:37] SM-Wistful commented on #16
Yeah, I can confirm that this update fixes it on iOS 9!! Thank you :)

[2018-09-16 22:51] #16 closed

[2018-09-17 09:04] reilem commented on #21
So I tried on my android device and it is still working there but on iOS 11.4.1 on a 6th gen iPad 9.7 inch it's not working as I described. It worked before the update when I had react 16.3.1 and react-native 0.55.4. But when I updated to react 16.5.0 and react-native 0.57.0 the issue started.

[2018-09-28 08:32] rgovind92 commented on #21
Works on my Android device, but the screen freezes on the Android emulator created from Android Studio (7 inch WSVGA Tablet, API 25).

I'm on ^1.0.9 of react-native-popover-view and 0.55.4 of react-native.

[2018-10-04 17:38] SteffeyDev commented on #21
I think there are several issue here that are not necessarily related, I will investigate the original issue of not working on 0.57 and see if that fix helps the rest or not.  @reilem thank you for providing device details.

[2018-10-16 18:10] braxtonchristensen commented on #15
I also noticed this, I added a package patch to add the shadow but it wouldn't open on android after my attempt, I'll try to look into this some more. If I find a good solution I'll open a PR

[2018-10-29 14:31] tal987 opened #22 "sound during popover"
hi, thanks for this library.
Do you support with option to have a sound when the popover show? if not can you please tell me how can I do that?

Thanks

[2018-10-29 15:32] huynguyen2903 opened #23 "Bug if we set isVisible default: true"
If I want to open Popover when start the screen so I set isVisible: “true” and it have a bug.
Can you help me fix it ?
Many thanks.

[2018-10-29 16:10] SteffeyDev commented on #23
Equivalent to #14, right?

[2018-10-29 16:10] tal987 opened #24 "Popover: Translate Point value is null"
Hi, im getting this error sometimes and I don't understand what does it mean and how to solve it... I would like for some explanation

[2018-10-29 16:11] SteffeyDev commented on #23
Please describe specifically what you are seeing, some code snippets, and versions of react-native-popover-view and device versions so that I can replicate.

[2018-10-29 16:14] SteffeyDev commented on #24
I’d love to help... can you post the code snippet of how you are using the popover so that I can track down the issue?

[2018-10-29 16:29] huynguyen2903 commented on #23
Yes. It seems like #14. How I can fix it ? Can you show me it ?
And one thing I need your help. If I want to click the button in popover 1 and it will open popover 2, how I can do it ?. My code is below.
[code]

"react-native-popover-view":  "version": "1.0.9",
"react-native":  "version": "0.57.4",

[2018-10-29 16:30] tal987 commented on #24
`    <Popover
          isVisible={this.state.entryPopUpVisible}
          onClose={() => this.closeEntryPopover()}
          arrowStyle={{ backgroundColor: 'transparent' }}>
          <Text> I'm the content of this popover! {"\n"}
            Entry to room {this.state.roomEntry}!!!
          </Text>
        </Popover>`

[2018-10-29 16:31] SteffeyDev commented on #24
Also, what behavior do you see when this error occurs?  Is it preventing the functioning of the Popover component or is it just annoying to have this in your logs and not know why?

[2018-10-29 16:32] SteffeyDev commented on #8
Closing due to inactivity.

[2018-10-29 16:32] #8 closed

[2018-10-29 16:33] tal987 commented on #24
@SteffeyDev I don't see the popover at all only when I refresh the screen (cmd+R) the pop over show up

[2018-10-29 16:40] tal987 commented on #24
@SteffeyDev do I miss anything? im trying to have this popover in the middle of the screen on landscape mode without pressing anything

[2018-10-29 16:48] huynguyen2903 opened #25 "How can I open "popover 2 if I click on button in popover 1"

[2018-10-29 16:49] huynguyen2903 opened #26 "How can I open "popover 2" if I click on button in popover 1""

[2018-10-29 16:59] huynguyen2903 opened #27 "Multiple Popovers opening in sequence, second not opening when triggered by button in first"
Sorry for my bad English.
I want to use react-native-popover-view as a guide for new user. If user read the first guide and they click "Ok" it will open the second guide. My code is below.
Thank you for your help !
"react-native-popover-view": "version": "1.0.9",
"react-native": "version": "0.57.4",

[code]

[2018-10-29 17:36] #25 closed

[2018-10-29 17:36] #26 closed

[2018-10-30 01:38] SteffeyDev commented on #27
That code looks like it should work, what is not working? If the second popover is not showing when you click the button, you could try
[code]
or
[code]

Using the `doneClosingCallback` will make sure the second popover doesn't trigger until the first one is done closing.

[2018-10-30 01:42] SteffeyDev commented on #24
Your code should show the Popover centered on the screen when `this.state.entryPopUpVisible` is true.  What do you mean by:

Does the popover not show when you first boot the app but it does show on subsequent reloads?

[2018-10-30 01:45] SteffeyDev commented on #23
Is it working for you now?  The popover should show immediately when `isVisible` initially set too true.

[2018-10-30 02:03] huynguyen2903 commented on #27
it's still not working. The second popover didn't show. it's work for you ?

[2018-10-30 02:04] huynguyen2903 commented on #27
The state of isVisible2 was changed "true" but the popover 2 not showing

[2018-10-30 04:31] SteffeyDev commented on #27
I'm considering making a change to the popover code to make this easier, which would detect when there is a modal open and then delay the second popover from trying to show until the first is closed... so you are welcome to wait for that update, but no guarantee on timing.

[2018-10-30 04:36] huynguyen2903 commented on #27
I can't set timeout for this because my client request that popover will be closed when user click on button.
I try showInModal={false} it's work but the popover is overplay component. How can I fix it. The picture is below.
![image](https://user-images.githubusercontent.com/40721082/47696156-14cc1b00-dc38-11e8-854b-742c0d04cd60.png)

[2018-10-30 09:36] huynguyen2903 commented on #23
It's not working. I have to set "true" in componentDidMount but sometime it's didn't work.

[2018-10-30 14:28] SteffeyDev commented on #27
And `showInModal={false}` is actually not working currently, I haven't tested in a while, but I fixed last night and it will work in the next release.  I think your best bet is with the timeout or `doneClosingCallback`.

[2018-10-30 14:32] SteffeyDev commented on #23
Ok, I currently have a pretty bare-bones app that has this working, so it's probably something with your setup.  Can you post a sample of the code so that I can try it out?

[2018-10-30 14:38] huynguyen2903 commented on #23
This is my code. The popover show but if I reload simulator the position of popover will be changed.
[code]

[2018-10-30 14:47] huynguyen2903 commented on #23
My problem is in AppBackground. If I don't use it the popover will work well. Do you know how I can solve it ?

[2018-10-30 14:54] huynguyen2903 commented on #27
It's work.
Thank you very much @SteffeyDev.

[2018-10-30 14:54] #27 closed

[2018-10-30 18:13] SteffeyDev commented on #23
Does the issue go away if you don’t wrap the Popover in AppBackground?

[2018-10-30 22:49] #22 closed

[2018-10-31 00:28] huynguyen2903 commented on #23
This is a video of bug.
https://youtu.be/PIFzqWzW4fw
Anh use debug = {true} but I can't see anything in the console.

"react-native-popover-view": "version": "1.0.9",
"react-native": "version": "0.57.4",

[2018-10-31 00:34] huynguyen2903 commented on #23
The issue go away if I remove the AppBackground. The AppBackground is a view that cover all component when render so it must be used in my code ( you can see code AppBackground).

[2018-10-31 02:58] SteffeyDev commented on #23
Ohhhh, that video helps so much!  I have seen this issue before, give me a few minutes to see if I can remember what caused it.

[2018-10-31 03:30] huynguyen2903 commented on #23
it's still not working @SteffeyDev. It's always change position of popover.

[2018-10-31 03:32] huynguyen2903 commented on #23
it's still not working @SteffeyDev. It always change position of popover.

[2018-10-31 03:35] huynguyen2903 commented on #23
Video version 1.0.11
https://youtu.be/WYqNGTYumoc

[2018-10-31 03:41] SteffeyDev commented on #23
Ok, is it possible you could grab the full debug output when it does the crazy change size thing? That would help me understand what is going on.

[2018-10-31 03:42] SteffeyDev commented on #23
I added a debug statement in 1.0.11 that may help

[2018-10-31 03:45] huynguyen2903 commented on #23
The console always update so I will copy a part of it for you.
[code]

[2018-10-31 05:02] SteffeyDev commented on #23
Ok, I am more hopeful about version 1.0.12, whenever you have the chance to try it out.

[2018-10-31 05:15] huynguyen2903 commented on #23
It's still some small bugs.
https://youtu.be/4EeLig0z6cY
Thank you for your help.
[code]

[2018-10-31 06:30] huynguyen2903 commented on #23
Oh no.
it still does the crazy change size thing on android @SteffeyDev

[2018-10-31 14:50] SteffeyDev commented on #23
Ok, 1.0.13 should fix the issue on iOS with it moving slightly after launch.  I can't replicate the issue on Android, can you provide video and logs again? Or even just logs would help.

[2018-10-31 15:25] huynguyen2903 commented on #23
Bug on IOS:
Video: https://youtu.be/EmufhAmHlUA
[code]

[2018-10-31 15:25] huynguyen2903 commented on #23
Bug on android.
Video: https://www.youtube.com/watch?v=6Y19VSxZ4gQ&feature=youtu.be

[code]

[2018-11-01 03:16] huynguyen2903 commented on #23
IOS is working.
Android still undefined.
[code]

[2018-11-01 03:35] SteffeyDev commented on #23
So you are saying that `this.touchable` is undefined on android, even after a second?  What about 5 seconds?  If the `ref` is undefined after view load, then that would be an RN issue, I believe.

[2018-11-01 03:37] SteffeyDev commented on #23
Check out this issue, it seems similar to your situation (valid on iOS but undefined on Android): https://github.com/facebook/react-native/issues/12966

[2018-11-01 04:34] huynguyen2903 commented on #23
This's result you need.
"126.57142639160156"

[2018-11-01 16:28] SteffeyDev commented on #23
Ok, so I believe the issue is once again on your side, and it is that when the Popover is initially rendered, the `fromView` prop is undefined because `this.touchable` is undefined. The popover cannot distinguish this from you not passing in the prop at all, so it doesn’t think it wants to show from a view. What you can do is delay showing the popover until `this.touchable` is set, potentially by

[2018-11-06 23:54] DaneEveritt opened #28 "Android devices positioning popover in center of screen"
So I've got a bit of a weird bug going on that I can't quite seem to figure out. On iOS devices, this popover appears correctly at the top of the view. But on android devices, it gets shoved into the middle, and the arrow is dead center on the screen:

![img_0335](https://user-images.githubusercontent.com/418376/48101476-00f65b00-e1dc-11e8-9571-45a0cf5c02f4.jpg)

However, this popover which is att

[2018-11-07 00:01] DaneEveritt commented on #28
Heres the output from `debug=true` which seems to indicate its not properly getting the ref even though the other (the bottom picture above), is?

[code]

[2018-11-07 01:38] DaneEveritt commented on #28
Alright, narrow down the weird behavior. Turns out if the component I was wrapped is a `<View>` at the highest level it causes this problem. Removing the view tag and returning a react fragment for example fixes it, but returning a view inside a react fragment still leaves it broken.

I suppose it would help to show how I'm generating these popovers. I'm using a component that wraps whatever eleme

[2018-11-07 17:12] SteffeyDev commented on #23
@huynguyen2903 were you able to solve?

[2018-11-07 17:18] SteffeyDev commented on #28
Do you ensure that `isVisible` is not set to true until after this.elementRef is set?  Android ref resolution may be slower than on iOS.

[2018-11-07 17:20] SteffeyDev commented on #28
In other words, make sure that when you set `isVisible` to true, you first check to make sure `this.elementRef` is not undefined, otherwise delaying showing the popover until it is defined

[2018-11-07 17:52] DaneEveritt commented on #28
@SteffeyDev yeah, I am waiting for the element ref. `isVisible()` has a few steps, but the first is checking for `this.state.canShowPopover` which is set to true once the component has mounted and there is an element ref.

I also added some logging when that state change occurs, and there is an elementRef set at that point for them all, both the broken ones and working ones. I did more testing thi

[2018-11-07 18:01] DaneEveritt commented on #28
So I completely skipped the whole special component I made to see if there was something weird going on there. I don't believe that is the case. Here is an example of this happening without anything special. Just a single component and a popover.

[code]

`StackedBlock.js`
[code]

[2018-11-07 18:13] SteffeyDev commented on #28
Ok, try this in your componentDidMount:
[code]
That’s exactly what my component is doing to get the position of the view, if any of those 4 values are undefined it would explain the behavior you are seeing.  You’ll need the appropriate imports from `react-natives to run this code.

[2018-11-07 18:21] DaneEveritt commented on #28
So on android I get `{}` back, on iOS I get back all of the properties (they're all 0, but it works fine).

[2018-11-07 18:30] DaneEveritt commented on #28
I've addressed this for the time being on my code by just adding `collapsable={false}` to each child automatically from my custom popover component when I'm doing the child clone. This seems to have fixed all of the remaining issues, and would explain why things that weren't wrapped in a view were working correctly.

[2018-11-07 18:44] SteffeyDev commented on #28
Glad you were able to fix! Unfortunately, my component is restricted by what RN can give me for values.  However, I think I can create some more useful warning and documentation to help people who run into these sorts of problems in the future.

[2018-11-07 18:44] #28 closed

[2018-11-07 18:48] DaneEveritt commented on #28
Yeah, don't think this is an issue with this library so much as it is an issue with RN. A note somewhere about adding collapsable to view elements you're trying to position against might be all thats needed.

Thanks again, library has saved me a _ton_ of time.

[2018-11-07 20:03] SteffeyDev commented on #28
Can you check the new documentation to see if it is correct? https://github.com/SteffeyDev/react-native-popover-view/blob/master/README.md#troubleshooting

[2018-11-07 20:06] DaneEveritt commented on #28
Looks good, I ended up not needing the renderToAndroid prop, just the collapsable. :)

[2018-11-07 20:08] SteffeyDev commented on #28
Ok, thanks!

[2018-11-08 16:10] MLukman commented on #21
I'm having the same issue (popover not appearing & blocking interaction) when running on Android device/emulator running android 8.0. The issue does not occur on emulator running android 7.0 nor device running android 6.0.

React-native version is 0.57.3

Here is output of `react-native info`:

[code]

While here is the debugger console log when `debug={true}`:

[code]
The android emulator is havi

[2018-11-08 18:50] SteffeyDev commented on #21
To address your concern of “viewLargerThanDisplayArea”, the emulator resolution and the number of “points” available are two entirely different things.  Though your device is 1080 pixels wide, it is only 411 “points” wide, which is an arbitrary value, so the popover is requesting to be wider than should be allowed.  See
https://stackoverflow.com/questions/37248400/what-dimension-units-are-used-in-

[2018-11-08 22:30] DaneEveritt commented on #28
Turns out you need `renderToHardwareTextureAndroid` if its being used on something with a touchable opacity under the view? I'm not really sure to be honest.

[2018-11-09 01:51] MLukman commented on #21
The suggested workaround works. Thanks.

[2018-11-12 23:59] SteffeyDev commented on #21
Ok, just published 1.0.14 with a potential fix, if you can remove the workaround and test again to see if it is fixed, that would be awesome.

[2018-12-06 17:31] ProteanDev opened #29 "Change the onClose callback event to onPressIn instead of onPress"
This doesn't really need description

[2018-12-06 18:26] segalr3 opened #30 "Component containing the Popover is not clickable"
See example here: https://snack.expo.io/Hy8bKJDJ4
the popover itself is clickable but its container component will stop responding to clicks.

**Device/Setup Info:**
 - Device: any
 - OS: iOS
 - `react-native` version: 0.57.4, expo
- `react-native-popover-view` version: 1.014

[2018-12-08 21:53] SteffeyDev commented on #29
Some justification would be nice, what benefit would this have or what bug does it fix?

[2018-12-18 05:12] hweister opened #32 "bug when selecting full screen text"
in this case, no screen place to display the popover view, the forcedContentSize.height < 0

[2018-12-18 14:35] MLukman commented on #21
I've verified that the issue is gone with 1.0.14. Thanks for the fix and sorry for the delay.

[2019-01-09 14:38] #21 closed

[2019-01-09 14:42] SteffeyDev commented on #32
Sorry for not seeing this sooner, can you attach a screenshot or video of what you are seeing?  I’m not understanding the bug

[2019-01-10 04:11] hweister commented on #32
Sorry I don't have case on hand to reproduce it now. I will try to describe the problem clear:
In my app, when I long press a view, the popover will show:
<Text onLongPress={() => {
          onLongPress && this.setState({showPopoverView: true});
        }}
          ref={ref => this.touchable = ref} >...</Text>
<Popover isVisible={showPopoverView}
                 placement={'auto'}

[2019-01-12 16:48] SteffeyDev commented on #32
Ok, I'm thinking of a fix for this that is more consistent with the rest of my code, I'll make the change and push and update and we can see if it works for you

[2019-01-12 16:51] SteffeyDev commented on #32
How does this sound: If the popover can't fit on any side of the view, then just show it as centered on screen as if there were no view.

Would that work?

[2019-01-14 01:14] hweister commented on #32
I prefer try to show on the center of the selected view first, if it still can not find enough place, then show on the center of the screen.
Thanks

[2019-01-14 04:57] SteffeyDev opened #33 "Incorrect popover origin when size changes during animate in"
**Describe the bug**
If the popover size gets bigger as the view is animating in (for example, if content is loaded async and then re-rendered just before or during animation), the popover appears to be originating from a location that is below the actual fromRect.

**Device/Setup Info:**
 - Device: iPad Pro 12.9"
 - OS: iOS 12
 - `react-native` version: 0.57
- `react-native-popover-view` version:

[2019-01-14 05:04] SteffeyDev commented on #32
That's a great idea, I'll add that in and get it tested in various scenarios

[2019-01-14 11:12] zerokid opened #34 "isVisible:true not popup when open the app by default"
Open app and refresh ctrl+R (working)

`setDefaultDisplayArea - newDisplayArea: {"x":10,"y":10,"width":391.4285583496094,"height":639.4285888671875}
blob:http://localhost:8081/3a732971-c4ed-43dd-a0b0-e8e189bfa30e:142043 measureContent - Showing Popover - requestedContentSize: {"height":55.42856979370117,"width":151.42857360839844,"y":0,"x":0}
blob:http://localhost:8081/3a732971-c4ed-43dd-a0b0-e8e1

[2019-01-14 11:40] zerokid commented on #34
adding timer works

componentDidMount() {

    setTimeout(() => {
      this.setState({ isVisible: true });
    }, 500);
  }

[2019-01-14 14:38] SteffeyDev commented on #30
I am unable to run the snack, tried on various devices and consistently fails to launch.  Can you describe more detail about what the issue is and more importantly what you expect it to do?

[2019-01-14 14:38] SteffeyDev commented on #30
I apologize for the delayed response, just catching up from the holiday break still

[2019-01-14 14:47] SteffeyDev commented on #34
If you let me know the exact device you got these logs from, I can try to reproduce.  I have a hunch what is causing it.  Are you fulling closing out the app and then coming back in or just sending the app to the background and then bringing it back to the foreground?  Does the same thing happen in a release build?

[2019-01-15 01:19] zerokid commented on #34
@SteffeyDev im testing it on pixel xl api 26 simulator . i fulling closing out the app and then coming back in.

[2019-01-16 03:49] SteffeyDev commented on #32
Ok, I'm curious if the new version 1.0.17 fixes your issue, there's a lot of edge cases when it comes to this and not sure if I got enough of them.  Check it out when you get the chance.

[2019-02-25 06:20] RadhikaPadiyar opened #36 "RTL support not provided. PopOver view does not display when app switched to RTL"
**Describe the bug**
What is it that you are seeing?  Please be detailed in your description so that I can help fix your issue as quickly as possible.

**Device/Setup Info:**
 - Device: [e.g. iPhone 6]
 - OS: [e.g. iOS 8.1]
 - `react-native` version: [e.g. 0.57.1]
- `react-native-popover-view` version: [e.g. 1.0.7]

**Screenshots**
If there is a visual issue, add screenshots or a video so that I c

[2019-03-22 07:00] Anshu8405 opened #37 "When click on button for multiple times popover is opening and screen got strucked?"
Here is my sample code you can look into it.

    showPopover() {
       this.setState({isVisible: true});
     }

     closePopover() {
        this.setState({isVisible: false});
     }

     render() {
        return (

       <View>
        <TouchableHighlight ref={ref => this.touchable = ref} style={styles.button} onPress={() => this.showPopover()}> <Text>Press me</Text> </TouchableHighlight>

[2019-04-05 18:38] devlinb opened #38 "I just want to say this is an awesome component"
I have had 0 issues using it, it worked flawlessly, the documentation is clear and concise, the usage is obvious, and within minutes I had popups working in my app.

This is seriously the best RN component I've ever used.

[2019-04-05 18:38] #38 closed

[2019-04-05 20:45] SteffeyDev commented on #38
Thanks for the kind words!  I've spent a lot of late nights trying to get this working well and I'm glad it's paid off :)

[2019-04-05 20:46] SteffeyDev commented on #37
So you are just spamming the touchable?  What version of react-native and react-native-popover-view are you using?  I can test this out when I have a free second.

[2019-04-05 20:48] SteffeyDev commented on #36
You created an issue but didn't fill out the details?  The template above is a _template_, designed so that you fill out the section with your own details.  Please fill out some of the details so that I can reproduce and debug (esp. the description and device/setup info)

[2019-04-07 23:05] SteffeyDev commented on #30
Ok, I got it to work now.  This is actually by design, a popover is just a modal contained to a smaller area so all taps are captured.  You can use `onClose` prop to catch taps on the background.  The `showBackground` prop just controls the background visibility, but it is always there.  The `showInModal` prop only controls whether it is shown in a RN `Modal` component or shown in a JS-only view t

[2019-04-07 23:05] #30 closed

[2019-04-11 03:09] SteffeyDev commented on #23
Closing due to inactivity, open a new issue if this issue reappears.

[2019-04-11 03:09] #23 closed

[2019-04-11 03:11] SteffeyDev commented on #15
@braxtonchristensen @SilentChris Did you guys ever get this to work consistently?  I would be happy to merge in some code and test if you have working code in a fork or locally.

[2019-04-11 03:31] SteffeyDev commented on #34
My best guess is that when `Dimension.addEventListener('change')` is called close to the start of the app, it is triggered without an actual dimension change.

I pushed a new version (1.0.19) that adds additional logging. This is hard to replicate, so if someone sees this and can send in the debug logs, it would help me confirm or deny my hunch.

[2019-04-12 17:26] SilentChris commented on #15
I don't think I ever came up with a great solution here. Since we don't use popovers in a lot of places, I just have it switching styles based on `Platform.OS` with iOS getting the drop-shadow styles. I'm still not sure why the existing shadow style doesn't work as expected on the outer `View` container

[2019-04-12 20:47] n-kumari commented on #15
The issue is there because of `overflow: 'hidden`  in the style `popoverContent`. Removing `overflow:hidden` solves the issue. See snack https://snack.expo.io/@nishakumari/shadow-animated. I have used the same styles as in this library with minor tweaks for easy viewing.

 This, however, is not a solution I would want for the library.

There is an open issue with React Native https://github.com/fa

[2019-04-15 12:50] 3rdp opened #40 "Can't display a dialog after popover did close (iOS only)"
**Describe the bug**
In `popoverDoneClosing` I want to open the Alert dialog. On iOS, the alert closes straight after it showed and after that the app freezes. You can't tap anything, my guess is that popover modal doesn't close properly and overlays the entire screen (like in #16). If you wrap Alert in setTimeout with 0 (zero) interval you may get this behavior after the second hit. You can try i

[2019-04-15 22:07] SteffeyDev commented on #15
That's good to know, I do allow a `popoverStyle` prop so it sounds like you can send `{ overflow: 'visible' }` to fix this on a per-instance basis if you would like.

[2019-04-15 22:13] SteffeyDev commented on #40
I ran into this issue as well recently, for a quick fix you can pass in `showInModal={false}`.  This won't make a difference as long as you keep the popover as a child of a top-level view, but will have issues if the popover is nested down a few levels inside views with padding and margin.

I agree this is an issue and I may be able to fix this by tying into the Modal `onDismiss` prop (https://fac

[2019-04-16 09:43] 3rdp commented on #40
onDismiss works nice, why not just pass a callback for it and this should wrap this up

[2019-04-16 13:10] SteffeyDev commented on #40
already done, just need to do some testing and documentation

[2019-04-17 04:09] SteffeyDev commented on #40
Ok, just released version 2.0.0, the prop is now `onCloseComplete` and by default it is mapped to `onDismiss`.  I tested and it can consistently open an `Alert` with no need to timeout.  Check it out when you get the change and let me know how it works for you!  I've made a number of other changes, so check out the upgrading section of the readme to see other breaking changes.

[2019-04-17 04:09] #40 closed

[2019-04-17 04:17] SteffeyDev commented on #36
With no response for 2 months, I am closing this.  Though I do care about your issue, you've given me so little details that I can't start looking into this.  Please open a new issue with more details if this is still a problem.

[2019-04-17 04:17] #36 closed

[2019-04-17 04:18] SteffeyDev commented on #30
@segalr3 I just released version 2.0.0 that includes a `tooltip` mode to do exactly what you were looking to do!  Thanks for the idea, I hope you find it useful.  Let me know if you have any issues with it.

[2019-04-17 04:33] 3rdp commented on #40
@SteffeyDev awesome. Did you know that onDismiss prop in Modal is iOS-only though?

[2019-04-17 06:31] segalr3 commented on #30
@SteffeyDev cool! I will look into it as soon as I can!

[2019-04-17 12:43] SteffeyDev commented on #40
I was not aware, let me add a platform check in there...

[2019-04-17 13:32] SteffeyDev commented on #40
Ok fixed (hopefully).  v. 2.0.1

[2019-05-08 09:29] tokinonagare opened #42 "Update react"
Event componentWillRecieveProps will deprecate after updating react.
Use getDerivedStateFromProps() and componentDidUpdate() instead componentWillReceiveProps();

[2019-06-03 10:42] sghosh968 commented on #32
@SteffeyDev :
I am not sure if the issue I am facing is related to issue reported here.
Issue is on iOS only when the popover is triggered in a `onLongPress` handler for `TouchableOpacity`.
But works fine when triggered in `onPress` for `TouchableOpacity`.
Added a video below demonstrating the issue on simulator.
Other details:
**react-native-popover-view** : 2.0.1
**react-native** : 0.58.3
Link t

[2019-06-29 14:31] SteffeyDev commented on #32
I don't think this is related, could you open a new issue? I have a basic idea of what causes this, but it is very weird that it would occur only with long press.  I'll test it out when I have a second and see what's up.

[2019-07-01 14:23] ricardobarbosahe opened #43 "Element from which popover was opened above modal"
Hi, is it possible to make the clicked element that was used to trigger the popover visibility  appear "above" the modal background of the popover? At the same level as the popover.
I tried messing around with z-indexes but with no luck.

Thank you.

[2019-07-01 16:11] SteffeyDev commented on #43
You’ll have to set the mode to `js-modal` to start, then messing with the z-index may yield better results for this.

[2019-07-01 21:42] AndrewMorsillo commented on #43
There doesn't seem to be a way to set a z-index on the outermost view created by react-native-popover-view when used in js-modal mode. This makes it impossible as far as I can tell to arrange popovers with z-index.

[2019-07-01 22:21] SteffeyDev commented on #43
It looks like I’m not setting a z-index for the popover, so depending on how RN works setting a z-index high enough may work. You can also control the order that things appear in RN by placement in the code. If the button comes further done in the code than the modal, it should be considered “higher” in the DOM and show above.

[2019-07-01 22:23] SteffeyDev commented on #43
If you need a control point, feel free to fork the library and try to get it working, I’ll happily take PRs if they are beneficial. Definitely do some testing first though, cause that may not be necessary.

[2019-07-02 00:06] AndrewMorsillo commented on #43
I was able to work around it by shifting some DOM elements around. I'm not sure if there are any cases where you can't work around it that way but it was a viable solution for me.

[2019-07-02 10:49] ricardobarbosahe commented on #43
@AndrewMorsillo would you care to explain what you did please? What i am trying to achieve is simply keeping a middle round button on my bottom tab bar above the modal that it triggers. To make the effect that the same button will close the modal again.

I tried the JS version but no luck with the z-index.

[2019-07-02 10:55] ricardobarbosahe commented on #43
This is what i am doing currently

<img width="365" alt="Screenshot 2019-07-02 at 11 53 58" src="https://user-images.githubusercontent.com/48685853/60507508-38140200-9cc0-11e9-9d20-e48ff9c5302e.png">
<img width="366" alt="Screenshot 2019-07-02 at 11 53 33" src="https://user-images.githubusercontent.com/48685853/60507514-3a765c00-9cc0-11e9-8be5-836b1bb3a68b.png">

[2019-07-02 15:54] AndrewMorsillo commented on #43
@ricardobarbosahe maybe something like this?

[code]

[2019-07-02 18:22] ricardobarbosahe commented on #43
@AndrewMorsillo didn't change a thing :/

[2019-07-14 21:49] SteffeyDev commented on #43
@ricardobarbosahe If you put together a snack or expo of code that should work but doesn't, I can take a look and see if there’s a fix.

[2019-07-14 21:50] SteffeyDev commented on #42
Not sure how I missed this coming in, but I did see the update coming up and will try to roll out a compatible release soon.

[2019-07-14 21:52] SteffeyDev commented on #29
Closing due to lack of activity and poor issue description.

[2019-07-14 21:52] #29 closed

[2019-07-19 14:16] ricardobarbosahe commented on #43
@SteffeyDev
https://snack.expo.io/@ricardobarbosahe/bottom-bar-popover

I just passed the critical code, the button is inside my bottom tab navigator but the problem appears outside of it as well as you can see on the snack.

Another thing i saw passing the code to the snack is that the position of the popover is different in ios and android, ios being the correct position. Is there a fix for this

[2019-07-20 15:15] SteffeyDev commented on #43
Alright, I got it working: https://snack.expo.io/@steffeydev/bottom-bar-popover

Key was using JS Modal and then making sure the popover wasn't hiding behind the other view.  RN Modal forces it to be above everything, but with JS it can easily get hidden if you don't set up the flex box right.

As for the Android issue, I did notice this as well, but it wasn't consistent. If the issue is vertical

[2019-07-20 20:52] SteffeyDev commented on #43
@ricardobarbosahe Let me know if you need additional assistance with this issue.  I'm going to close this as an issue because it appears that my library does support this functionality as long as you can figure out how to use it.  Do you mind if I post you snack code or a modified version of your snack code on the README as an example of this functionality?

[2019-07-20 20:52] #43 closed

[2019-07-20 21:35] ricardobarbosahe commented on #43
I can't see any difference from my snack on your link :S

Yes you can use it no problem, i can clean the code like removing styled-components and stuff if you wish. But first i need to see the changes that i can't see right now xD

[2019-07-20 23:36] SteffeyDev commented on #43
Oh no it didn’t save! I’m AFK rn but will ping you when I fix it again.

[2019-07-21 13:51] SteffeyDev commented on #43
@ricardobarbosahe Alright just tested again, appears it did save and is working on iOS and Android.  Not sure what was up with last night.  LMK if it doesn't work for you.

[2019-07-21 20:14] ricardobarbosahe commented on #43
@SteffeyDev It shows now, perfect! :)

Thank you very much for your help and for your work on this component.

[2019-07-23 03:35] SteffeyDev commented on #42
Ok, updated to latest react with 2.0.2

[2019-07-23 03:35] #42 closed

[2019-07-29 08:37] ansarikhurshid786 opened #44 "Not working in RTL direction"
I am showing popup but when i switched to arabic language. application direction get changed as below :

[code]

After allowing RTL when i tried to show popup screen stuck.

[2019-07-30 03:02] SteffeyDev commented on #44
Need to know more details:
* What iOS or Android version?
* What version of React Native?
* What version of react-native-popover-view?

[2019-07-30 03:03] SteffeyDev commented on #44
Also, the code sample is not very useful, because you don't state where it is defined.  Is this Java? JavaScript? Swift? Where is I18nManager imported from?

[2019-07-30 03:04] SteffeyDev commented on #44
Also going to need screenshots or precise steps to reproduce.

[2019-07-30 05:33] ansarikhurshid786 commented on #44
react-native info :
info
[code]

`"react-native-popover-view": "^2.0.2",`

[2019-07-30 10:15] ansarikhurshid786 commented on #44
@SteffeyDev can you please check issue as soon as possible. I am looking for solution

[2019-07-30 12:35] SteffeyDev commented on #44
I tried to look into it but changing the language in the iOS simulator did not affect my test app one bit; it was still English and worked as expected. What steps do I need to take to reproduce the issue? Do you have a sample app you can share demonstrating the issue?

[2019-07-30 12:36] SteffeyDev commented on #44
I don’t have any app localized for Arabic to test with

[2019-07-30 12:37] ansarikhurshid786 commented on #44
on initialization just enable :
`I18nManager.allowRTL(true);`

[2019-07-30 12:41] ansarikhurshid786 commented on #44
Application initialization :
import { AsyncStorage, I18nManager } from "react-native";
import RNRestart from 'react-native-restart';

[code]

[2019-07-30 12:42] ansarikhurshid786 commented on #44
application stuck no response when i tried to open popup in arabic language(in RTL enable mode)

[2019-08-04 01:39] SteffeyDev commented on #44
Ok, thanks for the code. I've investigated further and found many issues with RTL layouts and this library.  With some work I can make the popover actually appear, but there seems to be some layout issues that result in the popover being slightly off position.  Not sure if it is an RN issue or on my end yet, but the built-in inspector bugs out in RTL.  I'll push out a basic fix soon and then conti

[2019-08-04 03:08] SteffeyDev commented on #44
Alright, version 2.0.4 is out with a basic fix, the popover should be visible but may be in the wrong place on the screen.  Let me know how it works for you.  I'll keep investigating the layout issues and see what's up.

[2019-08-09 06:34] arivanandan opened #45 "defaultProps: isVisible is true"
Shouldn't it be false?

[2019-08-25 17:01] klausyagiri opened #47 "onClose working in 2.0.4 but onRequestClose dont"
I had version 1.0.18 so i uninstalled and installed newest version 2.0.4, and onRequestClose wasn't working but onClose(deprecated) was working. How can i solve this?
The "Example" folder shows the use of onClose still

[2019-08-25 18:19] klausyagiri commented on #47
Was just a problem with cache...

[2019-08-25 18:19] #47 closed

[2019-09-05 23:40] outaTiME opened #49 "Subtract verticalOffset from popover height to preserve margins on popover"
Hi,
`verticalOffset` still required on Android on version 2.x when running on expo, and may update the popover height according the vertical offset too (for better experience on large popovers like the image attached)

here snippet and screenshots, thanks and awesome work !!!

btw: on iOS works as expected.

[code]

![telegram-cloud-photo-size-1-5154761118516881495-y](https://user-images.githubuse

[2019-09-08 03:37] SteffeyDev commented on #49
I’m not entirely sure what the issue is, the popover in the image appears to be working as expected, except maybe slightly offset horizontally. Can you please restate what the issue is exactly, describing the expected behavior and actual behavior of the popover?

[2019-09-09 13:54] outaTiME commented on #49
Hi @SteffeyDev, the popover height should sustract `verticalOffset` for better vertical alignment on the screen.

And additionally I made the clarification that the `verticaloffset` is still required in Expo.

[2019-09-11 18:43] AndrewMorsillo opened #50 "animationConfig not valid in typescript 3.6.3"
Setting animationConfig to `{duration: 100}` results in a TS error. Maybe something changed on the RN side of the type definitions?

[code]

 - `react-native` version: 0.60.5
- `react-native-popover-view` version: 2.0.5
- `typescript` version: 3.6.3

edit: small additional unrelated TS issue, Popover.MODE constants aren't in the .d.ts file resulting in TS errors when they are referenced.

[2019-09-12 03:57] zhuliminl opened #51 "How can I change arrow position ?"
How can I change arrow position ? this is so important for my UI

[2019-10-07 02:45] SteffeyDev commented on #49
Ah that is amazing clarification, thanks!  I'll do that as part of the next release.

[2019-10-25 18:52] SteffeyDev commented on #45
Nope, if you didn't pass in a value for isVisible and the default were false, you would have no way of controlling visibility.  By having the default value as true, you have the option to forgo passing in isVisible and control the visibility of the popover by mounting and un-mounting the component instead.

[2019-10-25 18:52] #45 closed

[2019-10-31 11:22] yoginitheesh opened #52 "Arrow Style | how to add arrow style to mode={ 'rn-modal'}"
Hi,

Can you please suggest me how to add arrow style for rn-modal

    <Popover
                            isVisible={this.state.isVisible}
                            mode={
                                'rn-modal'}
                            onRequestClose={() => this.closePopover()}>
                            <View style={{
                                backgroundColor: '#2f2f2f',

[2019-11-01 03:06] #52 closed

[2019-11-01 03:15] yoginitheesh opened #53 "How to maintain only one popover all input text item."
Hi,
I'm facing some reference issue while placing common popover for all text box presented in screen.  Any solution?

[2019-11-07 14:26] ronilitman opened #54 "Popover is shown under text elements"
**Describe the bug**
I am using the component with tooltip mode. It is shown under text. z index won't help. Does anyone know what I might be doing wrong?
Thank you!

**Screenshots**
![image](https://user-images.githubusercontent.com/13034976/68397047-3b8e2d00-017b-11ea-906c-e1f243c6709f.png)

[2019-11-07 16:12] SteffeyDev commented on #54
The order of your react components are important.  Assuming that you are not using z-index anywhere, the elements that are farther down in the code will render above elements that were listed before them. Try moving the popover beneath the fields in the code and at a higher nesting level to ensure it shows above.

[2019-11-07 16:15] SteffeyDev commented on #54
https://unbug.gitbooks.io/react-native-training/content/32_absolute_&_relative.html

[2019-11-07 16:15] SteffeyDev commented on #54
If you can’t get it working, create a snack that demonstrates the issue and I will take a look

[2019-11-07 16:17] SteffeyDev commented on #54
Also, you can check out my test app to see a tooltip rendering correctly, maybe learn something from inspecting that code: https://github.com/SteffeyDev/react-native-popover-view-test-app

[2019-11-09 08:30] ronilitman commented on #54
@SteffeyDev it worked, thanks for your help. What I actually missed is the fact that default position in react native is relative, and this is why my other elements are "winning". Small question though - why zIndex won't work in this case? Thanks again!

[2019-11-23 04:40] SteffeyDev commented on #53
How many text boxes do you have?  You could get the location of the text boxes yourself and use the `fromRect` prop to change where the popover originates from just before launching if you want, a little more effort but might work.  Or just create one popover for each text box if there's not too many.

[2019-11-23 04:44] SteffeyDev commented on #54
I suspect that zIndex has to be used in tandem with absolute positioning, so if you have a mix of absolute and relatively positioned elements then the order may be weird.  I tend to avoid zIndex for exactly that reason.  Wish I could give a better answer but I think it is one of those parts of React Native that I will never fully grasp.  Glad you got it working!

[2019-11-23 04:44] #54 closed

[2020-01-31 15:42] kev71187 opened #55 "Bug in calculating size"
**Describe the bug**
There are two bugs that cause the initial calculation of the popover to frequently be incorrect and cause incorrect animate slide in effects.

- https://github.com/SteffeyDev/react-native-popover-view/blob/master/src/Popover.js#L912
There is a race condition here with https://github.com/SteffeyDev/react-native-popover-view/blob/master/src/Popover.js#L902
Line 902 gets triggere

[2020-01-31 23:46] SteffeyDev commented on #55
Thanks for debugging this! I’ve seen this behavior before but didn’t have time to figure it out. I’ll check out your pull request this weekend, test it out, and hopefully release a new version.

[2020-02-23 01:28] SteffeyDev commented on #55
Ok, change merged and published as 2.0.6

[2020-02-23 01:28] #55 closed

[2020-02-23 20:33] AndrewMorsillo commented on #55
@SteffeyDev Maybe something went wrong with the publish? I just updated to 2.0.6 and this commit is not in there.

[2020-02-23 21:39] SteffeyDev commented on #55
Nope, if you look closely that commit was just updating formatting, same code

[2020-02-23 21:47] AndrewMorsillo commented on #55
If I'm reading it correctly (and correct me if I'm not) ```const layout = evt.nativeEvent.layout``` got removed which is actually a significant change. Removing that line delays the access of the` layout` prop until it is run inside the  `setTimeout`. At least on my emulator accessing `evt.nativeEvent.layout` inside the timeout crashes because `nativeEvent` is null. It works if I add the line back

[2020-02-23 21:53] SteffeyDev commented on #55
Interesting, I don't know too in depth how it works under the hood but I assumed them to be equivalent.  Certainly assigning the object reference to a new variable shouldn't effect anything, I wonder why that changes? Let me test and get back to you

[2020-02-23 22:21] AndrewMorsillo commented on #55
It's a subtle thing but tools like typescript can help warn you about it. For example:

[code]

and 500ms later `cannot access property length of null`

but if you do this

[code]

Then 500ms later your program prints "4"

When you access a mutable object in a callback or setTimeout nothing guarantees that the object you're accessing won't get changed before your callback runs.

[2020-02-23 22:41] SteffeyDev commented on #55
That makes sense because `foo.bar` is a value, where in our example `layout` is an object, so in theory it only copies the reference.  If you truly wanted to protect against null you should do `const layout = { ...evt.nativeEvent.layout }` to make a copy of the object instead of just storing its reference in a different variable.

[2020-02-23 22:44] SteffeyDev commented on #55
Ok 2.0.7 has that change.

[2020-02-23 22:52] AndrewMorsillo commented on #55
Thanks!

You're right about the object vs value thing but even if you use the object spread operator it doesn't totally guard against accessing a null reference because IIRC object spread is not recursive. If you accessed any nested objects ex `layout.foo.bar` those could be null as well. In this case however it seems that the layout object is safe and just the nativeEvent reference is getting nul

[2020-02-26 06:33] adp-source commented on #37
We're also having this problem. If you spam the touchable, eventually the popover will just disappear. There's no way to get it back unless you reload.

Using onOpenComplete or onCloseComplete to disable the touchable doesn't work because javascript can't disable native animations.

It is likely that the user can press something multiple times quickly.

[2020-02-27 03:37] SteffeyDev commented on #37
Is this with tooltip mode or regular?

[2020-02-27 20:19] adp-source commented on #37
@SteffeyDev
Regular mode. Although I guess we're using it as a tooltip to auto close. I think an option to disable animations would be useful.

[2020-02-27 20:54] SteffeyDev commented on #37
You can disable the animations by using the `animationConfig` prop and passing a duration of 0

[2020-03-02 20:51] ankur-1989 opened #58 "How can we change the color of text inside tooltip?"
I want to change the background color of popover view to grey and text color to white. But it seems not to be possible. How can I achieve that?

[2020-03-02 21:56] SteffeyDev commented on #58
You can pass the backgroundColor into popoverStyle prop

[2020-03-02 21:56] SteffeyDev commented on #58
And then you control the text color obviously, as you have full control over all popover content

[2020-03-03 09:02] ankur-1989 commented on #58
yup got it. Thanks for the help!!!

[2020-03-03 09:02] #58 closed

[2020-03-17 13:51] varshan09 opened #59 "mode={'tooltip'} not opens popover"
I want to open pop over without dim effect, I have tried to use mode = {'tooltip} but after using mode popover is not opening. It's working fine with 'rn-modal' .

`<Popover
                isVisible={this.state.modalVisible}
                mode={"tooltip"}
                popoverStyle={{ backgroundColor: 'transparent' }}
                onRequestClose={() =>
                    this.setState({

[2020-03-19 13:18] SteffeyDev commented on #59
You can set the `backgroundStyle` prop if you just want to make the background transparent (something like `backgrounsStyle={{ backgroundColor: 'transparent' }}`), but that will leave the overlay in place so that when you tap outside the popover it will dismiss.  If you would like to not show the overlay period, so that tapping outside goes through to other components, then tooltip mode is correct

[2020-03-27 11:11] #59 closed

[2020-04-26 14:07] Rohansi opened #60 "Popovers don't fade under status bar + modal shifts around"
**Describe the bug**
My app is set up to render under a translucent status bar but modals always avoid it. I'm using the `rn-modal` mode and it works alright but I can see the status bar area does not fade and the popover shifts around vertically after animating in sometimes. I suspect this is due to the status bar differences.

I see there is a [`statusBarTranslucent`](https://reactnative.dev/doc

[2020-04-26 21:02] SteffeyDev commented on #60
@Rohansi I just released 2.0.8 and added the `statusBarTranslucent` prop, which simply passes the value through to the underlying `Modal`.  Can you see if that makes a difference?

[2020-04-26 22:22] Rohansi commented on #60
@SteffeyDev Thank you so much for the fast response! That should fix the status bar issue - but unfortunately it's React Native 0.62 and up! I'll have to accept that one.

However, the shifting still occurs. I will look into it and submit a pull request for you to review.

[2020-04-27 00:30] SteffeyDev commented on #60
Ok, released 2.0.9 with the #61 changes

[2020-04-30 23:43] #60 closed

[2020-05-15 11:38] abinnellithanam opened #62 "Error while wrapping the PopOver inside a Text element"
`<Text>
  <Text
    style={styles.sectionTitle}
    onPress={() => this.setState({isVisible: true})}
    ref={(ref) => (this.touchable = ref)}>
    Click here to show PopOver
  </Text>
  <View
    style={styles.popover}>
    <Popover
      isVisible={this.state.isVisible}
      fromView={this.touchable}
      placement={'bottom'}
      onRequestClose={() => this.closePopover()}>
      <Text>ReactN

[2020-05-15 15:53] SteffeyDev commented on #62
You should move the popover to be a sibling of the Text instead of a child.  Because you are using `fromView`, the popover should still appear as though it is originating from the text.

Consider the following refactor:
[code]

[2020-05-15 21:43] abinnellithanam commented on #62
ok, i done the refactoring now the pop over is showing but not in where i clicked (its not showing in the correct position)

[2020-05-15 21:44] SteffeyDev commented on #62
Can you please take a screenshot of what it looks like now, so I can see what you mean by not showing in the correct position?

[2020-05-15 21:53] abinnellithanam commented on #62
![1589579516392](https://user-images.githubusercontent.com/5668615/82099275-94d7aa00-9724-11ea-8d75-4e0b43822f4c.JPEG)

[2020-05-15 21:56] SteffeyDev commented on #62
Ok, that usually means that `this.touchable` is not set in time.  Can you confirm that `this.touchable` is not null/undefined at the point that the popover is shown?

[2020-05-15 21:58] abinnellithanam commented on #62
ok i'll check, the text element where i click is dynamically created may be that will be the cause

[2020-05-16 19:13] abinnellithanam commented on #62
**Closing the issue**
The error was caused because the ref is not properly setted.

[2020-05-16 19:13] #62 closed

[2020-05-16 19:21] SteffeyDev commented on #62
@abinnellithanam how did you fix? Asking to help future people with same issue.

[2020-06-01 14:15] exotexot opened #65 "Make style attributes accept an array"
It would be cool if the popoverStyle prop (and all other style props, would accept an array as all other RN elements with style prop do. The background here is to apply different styles through a hook (e.g. react-navigations useTheme hook).

 const { colors } = useTheme()
<View style={[styles.modal, { backgroundColor: colors.background }]}>

[2020-06-01 14:51] SteffeyDev commented on #65
Oh I agree that would be cool, I'll try to include that in the next release.  For now, you can just use `popoverStyle={StyleSheet.flatten(<array>)}`.

[2020-06-03 16:30] jadchaar opened #66 "Full example not working in Expo"
I am testing out this package in Expo by running the [full example](https://www.npmjs.com/package/react-native-popover-view#full-example), but it does not seem to be working: https://snack.expo.io/@jadchaar/popover-demo. Any ideas?

[2020-06-03 16:31] jadchaar commented on #66
It is worth noting that the following debug message comes up:

[code]

But, I only have a single popover trying to show.

[2020-06-03 16:37] jadchaar commented on #66
Update: when I opened up Expo in a new tab it seems to now be working... That said, the full example still has a typo since the class ends with `});` when it should just be `}`

[2020-06-03 17:09] jadchaar commented on #66
Sorry for the constant barrage, but I tried changing this to a functional component using hooks and it seems to break since it does not think that touchableRef is a React component.

[code]

Check out the Expo here: https://snack.expo.io/@jadchaar/popover-demo---hooks

[2020-06-03 18:17] SteffeyDev commented on #66
For the last issue, try passing in `touchableRef.current` and see if that works

[2020-06-03 18:23] SteffeyDev commented on #66
You can also check out my test project react-native-popover-view-test-app exp://exp.host/@steffeydev/react-native-popover-view-test-app for a working example, and also see the underlying code on github as well

[2020-06-03 18:27] jadchaar commented on #66
Sadly that did not work :(. According to the `useRef` docs this is an appropriate usage pattern: https://reactjs.org/docs/hooks-reference.html#useref.

Thanks for fixing the docs!

[2020-06-03 18:53] SteffeyDev commented on #66
Ok, for now just switch back to using a class wrapper around that component then and I will investigate this week to see if I can get it working with hooks

[2020-06-04 01:27] SteffeyDev commented on #66
This might explain the issue:

Initially the ref is null, and the view is not re-rendered when it is set, so the Popover is never given a non-null ref unless it is re-rendered for a different reason.

Consider something like this (not tested but hopeful):
[code]
See https://reactjs.org/docs/hooks-faq.html#how-can-i-measure-a-dom-node for more background on this example.

[2020-06-05 07:25] ateev opened #67 "onPress events inside the popover not working in Android"
I have a simple use case where inside popover, I want the button inside popover to perform some actions. This is working in iOS but not in Android.

Here's the code:

[code]

The `onPress` events on `TouchableOpacity` are not working in Android.
Let me know if you'll need more information to debug

[2020-06-05 16:06] jadchaar commented on #66
That does in fact work :).

[2020-06-05 19:48] #67 closed

[2020-06-05 20:58] SteffeyDev commented on #66
Great! I’m working on refactoring and will bring better support for hooks soon.

[2020-06-05 20:58] #66 closed

[2020-06-10 03:31] SteffeyDev commented on #65
Ok, this is implemented in the latest release 3.0.0

[2020-06-10 03:31] #65 closed

[2020-06-10 03:32] SteffeyDev commented on #50
Just converted the whole thing to typescript, so this should be fixed.  Re-open if it is still an issue.

[2020-06-10 03:32] #50 closed

[2020-06-10 03:33] SteffeyDev commented on #20
Appears to be fixed in latest version

[2020-06-10 03:33] #20 closed

[2020-06-10 03:33] #24 closed

[2020-06-10 03:34] #34 closed

[2020-06-10 03:34] SteffeyDev commented on #51
Closing due to inactivity

[2020-06-10 03:35] SteffeyDev commented on #53
Closing due to inactivity

[2020-06-10 03:35] #53 closed

[2020-06-16 13:38] abdulhaseeb07a opened #68 "Type error when using with Typescript"
No overload matches this call.
  Overload 1 of 2, '(props: Readonly<PublicPopoverProps>): Popover', gave the following error.
    Type '{ children: Element; mode: Mode.TOOLTIP; placement: Placement.TOP; isVisible: boolean; from: Element; }' is missing the following properties from type 'Pick<Pick<Readonly<PublicPopoverProps> & Readonly<{ children?: ReactNode; }>, "children" | "isVisible" | "from"

[2020-06-16 18:37] SteffeyDev commented on #68
Sorry about that.  Can you try out 3.0.1? I made most of the props optional now.  Let me know if it doesn't work and I can spend more time on a fix.  Just wanted to see if I could get a quick fix out.

[2020-06-18 02:52] aboveyunhai opened #69 "can't perform a react state updated on an unmounted component"
@SteffeyDev I was trying to create a list of items along with tooltips,
While closing one of the tooltips, I got the warning `can't perform a react state updated on an unmounted component. `

It seems like the problem has nothing to do with my list example, the problem always appears in **`react native bare flow`** when popover is closed.

[2020-06-18 04:47] SteffeyDev commented on #69
I put your code into a snack and am unable to reproduce the warning: https://snack.expo.io/@steffeydev/6f4b71

Can you please create a snack or a full working example that shows the warning?

I will note that this is not a bug, just a small potential memory leak that probably has no impact.  Of course, if I can reproduce it I will fix it nonetheless.

[2020-06-18 07:09] aboveyunhai commented on #69
After 2 hours debugging with expo and mixing up with all possible combination I can come up from my test app. It seems like the problem does not exist.
So I create a fresh new react native app (bare flow without expo) and run it on both my phone and emulator, the problem appears as long as I closed the popover.
![image](https://user-images.githubusercontent.com/35160613/84988247-ae975300-b10f-11ea

[2020-06-18 20:41] rafaelsaback commented on #69
I'm facing the same behavior. The first time I run the application when I close the popover I receive the same warning message.

[2020-06-20 18:32] SteffeyDev commented on #69
Alright, I'm plugging it into my ejected app now so hopefully can reproduce and fix.

[2020-06-20 19:17] rafaelsaback commented on #69
@SteffeyDev, if it serves of any help, this is the stack trace that the warning returns to me:

![image](https://user-images.githubusercontent.com/7912190/85209838-5f356a80-b33b-11ea-86c4-1b013dd1cb75.png)

[2020-06-20 19:42] rafaelsaback commented on #69
@SteffeyDev, my best guess is that this is being caused by the call to `setState` within `onCloseStart` (AdaptivePopover), here:

https://github.com/SteffeyDev/react-native-popover-view/blob/master/src/Popover.tsx#L495

Since `onCloseStart` is called from `componentWillUnmount` (BasePopover), this actually causes setState to be called when the component is just to be unmounted.

[2020-06-20 20:21] SteffeyDev commented on #69
Yep, I found that as well and fixed in 3.0.2.  Let me know if it works for you as well!

[2020-06-26 15:27] rrosarioAspiration commented on #37
Disabling the animations wouldn't fix the root cause.  At the moment our app is rendering everything on every event and loading the entire app.  We can fix this by:

1. Removing anon callbacks in render
2. Code splitting
3. A bit of memoizing
4. Using React Router hooks vs v4 method of render props.

[2020-07-03 21:56] rafaelsaback commented on #69
Sorry for the late reply. Unfortunately, the issue is still there - I've tested version 3.0.3. Apparently, when I dismiss the popover, `onCloseStart` is called twice. On the first time that it's called, `isMounted` is true which causes the react state update issue - for what it's worth, on the second time `isMounted` is false.

[2020-07-05 23:37] SteffeyDev commented on #69
@rafaelsaback Can you pass `debug={true}` and paste the logs here from when onCloseStart is called twice? Or else tell me how to reproduce so I can debug and produce the logs myself? Looking at the code I can't figure out what would cause the issue.

[2020-07-05 23:44] SteffeyDev commented on #32
Closing due to inactivity (and probably fixed)

[2020-07-05 23:44] #32 closed

[2020-07-06 02:25] aboveyunhai commented on #69
I just check the new version in both brand new `create-react-native-app` and my own toy app which had the problem in the past. The problem is not longer exist.  So I have to assume @rafaelsaback 's problem might exist somewhere else like where the parent of popover is unmounted. Other than, I believe my problem is fixed. But the problem can be some edge cases I did not encounter.

[2020-07-06 11:27] ChaossAdept7 opened #73 "Not showing in tooltip mode with new Rect source"
On iOS popover with "mode= {PopoverMode.TOOLTIP}" and "from= {New Rect(0, 0, 100, 100)}" (or without "from" at all)  is not shown Removing "from" option should place tooltip in the center, but it also is not shown. Removing "mode= {PopoverMode.TOOLTIP}" helps, but that is not what i want to achieve.

My code is next:
[code]

**Device/Setup Info:**
 - Device: Iphone XR
 - OS: iOS 13.5
 - `react-nat

[2020-07-07 16:26] FarazzShaikh opened #74 "Attempted to remove more RCTKeyboardObserver listeners than added."
**Describe the bug**
Application crashes with: `Attempted to remove more RCTKeyboardObserver listeners than added` after opening and closing the popover exactly 3 times and every subsequent time after refreshing view.

**Device/Setup Info:**
 - Device: iPad Pro (12.9-inch) (3rd generation) (Simulator)
 - OS: iOS 13.3
 - `react-native` version: 0.62.2
- `react-native-popover-view` version: 3.0.3

*

[2020-07-09 08:20] rafaelsaback commented on #69
Hey @SteffeyDev, I ran it once again to generate the debug logs, but funnily enough, I didn't face the issue any longer. I even tried different phones, but the warning was no longer displayed. Thanks for fixing this as feel free to close the issue. :+1:

[2020-07-09 12:02] SteffeyDev commented on #69
Glad to hear!

[2020-07-11 17:01] Rohansi opened #75 "Right-to-left layout issues"
**Describe the bug**
My app is only using the centered placement and does not track any elements. Everything works nicely with LTR layout and the popover appears centered properly on the screen. However, when switching to RTL layout mode, the popover now opens partially off screen on the X axis.

RTL layout can be turned on for Android in the developer options.

**Device/Setup Info:**
 - Device: M

[2020-07-24 15:36] jeswcollins commented on #73
In my case, I just didn't want to dim background, and `backgroundStyle={{opacity: 0}}` was a workaround

[2020-07-28 18:57] SteffeyDev commented on #73
I would recommend @jeswcollins solution, Tooltip mode really wasn't designed to work without an anchor element.  I'll leave this open until I fix the documentation to make this more clear.  @ChaossAdept7 does that work for you or can you explain what you are trying to achieve?

[2020-07-28 18:59] SteffeyDev commented on #75
Duplicate of #75.  Thanks for info, I'll keep tracking this there.

[2020-07-28 18:59] #75 closed

[2020-07-28 19:01] SteffeyDev commented on #74
Thanks for the info, I can probably be more careful about only removing if confirmed added

[2020-07-28 19:12] SteffeyDev commented on #74
There's a newer way to remove keyboard listeners, this should be fixed after the next release

[2020-07-28 19:24] SteffeyDev commented on #73
Ah, I suppose tooltip mode is needed if you want touches to fall through to the background.   @ChaossAdept7 you can see the reason it is not showing from the log: `Calculated Popover Rect: {"x":141.5,"y":-390.5,"width":92,"height":23}`.  Your popover is being rendered, but it is being rendered off the screen.  Rending a tooltip is tricky, you have to position the Tooltip at the right point in the

[2020-07-30 21:23] ChaossAdept7 commented on #73
@SteffeyDev thanks!

[2020-07-30 21:24] ChaossAdept7 commented on #73
I tried other approach

[2020-08-09 04:07] SteffeyDev commented on #73
Did it work @ChaossAdept7 ?

[2020-09-01 14:48] GreatAuk opened #76 "Doc Error"
![image](https://user-images.githubusercontent.com/20253809/91866888-94e4c100-eca5-11ea-8248-75b089bfdefb.png)

[2020-09-02 00:08] nathanclevenger opened #77 "Not working on react-native-web"
**Describe the bug**
The popover works fine on iOS and Android, but not react-native-web (at least on Chrome or Safari with Expo)

**Device/Setup Info:**
 - Device: Mac OS X
 - OS: Catalina 10.15.5
 - `react-native` version: Expo 38.0.0
- `react-native-popover-view` version: 3.0.3

**Repro**
https://snack.expo.io/m3hEW9eqE

**Debug Output**
Pass the `debug={true}` prop into the Popover, and then p

[2020-09-05 15:19] #76 closed

[2020-09-05 15:20] SteffeyDev commented on #76
Good catch, thanks for sending in :)

[2020-09-05 17:44] SteffeyDev commented on #77
Yep, looks like web support is hit or miss.   I changed the readme to reflect this, as I don't have time to support web right now.  Open to PRs for better web support, however.

[2020-09-05 17:44] #77 closed

[2020-09-05 17:46] SteffeyDev opened #82 "Web Support"
Right now, this library may or may not work on web depending on how it is used.  I never intended to officially support web, and have not setup any testing for web.  However, if someone would like to submit a PR for web support and testing, I would be willing to work with them to incorporate it going forwards.

[2020-10-01 15:36] FlorianPfisterer opened #83 "Prevent the pop-up from closing the keyboard"
**Is your feature request related to a problem? Please describe.**
We have a bar that's above the keyboard which offers additional buttons to the user. When the user clicks on a button in this bar, we open a pop-up. However, this always closes the keyboard, which is not our intended behavior.

**Describe the solution you'd like**
Maybe this does not even require an update, and you can tell us how

[2020-10-03 02:51] SteffeyDev commented on #83
This is an interesting one. Can you confirm that it is indeed opening the popover that closes the keyboard, and not clicking the button? For example, if the button triggers an alert instead of opening a popover, does the keyboard stay open?

The keyboard is probably closing because the text field is losing focus. Are you using the popover in tooltip mode or just the default (rn-modal) mode? You'll

[2020-10-05 06:14] FlorianPfisterer commented on #83
Thanks for the fast response!
Yes, indeed it's the popover. If the button triggers an alert instead, the keyboard stays open.

However, your suggestion of using the 'js-modal' mode worked. Thanks you!

[2020-10-05 06:14] #83 closed

[2020-10-11 17:34] krakzk commented on #62
@abinnellithanam Could you please explain how you overcame the error, i am stuck in same scenario.
@SteffeyDev

[2020-10-11 17:42] SteffeyDev commented on #62
@krakzk Which issue are you having? The library API has changed significantly since this issue was closed, so the solution may not be the same on the latest version.

[2020-10-11 17:46] krakzk commented on #62
@SteffeyDev I had a working wrapper earlier with 1.x.x version of the plugin. Now i upgraded to 3.0.0 and now always the popover is in middle , disregard to placement. I used a TouchableOpacity wrapped object as trigger where the ref={} is created.
Also, as in doc, is createref or useref a must??

Can't we use ref={ref => this.newref = ref} and pass this newRef to from???

[2020-10-11 18:26] SteffeyDev commented on #62
You can, but you need to make sure that the red callback is set before you render the popover. Something like `{this.newref && <Popover ...>...</Popover>}`

[2020-10-11 18:27] SteffeyDev commented on #62
The easier method with the new API is just to passing the text into the from prop directly and letting the component handle the refs internally.

[2020-10-11 18:40] #74 closed

[2020-10-11 19:38] #68 closed

[2020-10-11 19:38] #73 closed

[2020-10-12 02:51] krakzk commented on #62
@SteffeyDev Would be ablento provide a sample for the above?

[2020-10-12 02:54] SteffeyDev commented on #62
The first example on the README is what I am referring to

[2020-10-12 13:46] ugrky opened #86 "Remove propTypes"
**Is your feature request related to a problem? Please describe.**
I am currently trying to run the library on `react-native-web`. I know that the library is not officially supported on web, but would be nice to make it work. I will be doing some changes on my own fork, but wanted to use this thread as a platform to discuss a few things.

`react-native-web` has unspoorted `ViewPropTypes` as of 0.1

[2020-10-12 14:11] SteffeyDev commented on #86
Great question. For people who use typescript, then the types are great. However, any developers who use this library in a non-typescript project need PropTypes to ensure that React stops them from passing in invalid props. I'm not sure how libraries that support web handle this use case, maybe you could see how they do type enforcement for non-typescript projects and let me know?

[2020-10-13 15:42] SteffeyDev commented on #82
Ah, that's actually an important development. It sounds like the other issue with web is PropTypes, check out #86, maybe you can contribute to the discussion there.

[2020-10-13 15:44] nandorojo commented on #86
@SteffeyDev asked me to weigh in here. I only use TypeScript, so I’m not sure, but this might be relevant to https://github.com/necolas/react-native-web/issues/1708

[2020-10-13 15:46] nandorojo commented on #86
Just updated my comment with the correct link.

[2020-10-13 15:49] SteffeyDev commented on #86
Not sure if I missed it, does that issue relate to PropTypes ay all?

[2020-10-22 21:22] IkaroAlef commented on #51
@SteffeyDev  problably something like this
![image](https://user-images.githubusercontent.com/12076441/96931308-77f19080-1493-11eb-9dd3-92aa7c44e748.png)
And that's what I'm also looking for.
Is it possible?

[2020-10-23 01:02] SteffeyDev commented on #51
Ah, I see what you mean. What you can do is pass a `Rect` object into the `from` prop to specify where on the screen the top of the arrow goes to (if you set width and height to 0 then you can use x an y to control the coordinates of the arrow). You can then use the `placement` prop to control which direction the popover opens in. A placement of bottom would make the arrow point up. Does that help

[2020-10-23 01:04] SteffeyDev commented on #51
You can adjust the style of the popover and the arrow using the corresponding style props, which allows you to change color, set border radius, size, etc. in the test app that is linked at the top of the readme, I have examples of different size arrows, different corner radius, and different colors.

[2020-10-23 01:18] IkaroAlef commented on #51
Actually I'm using `placement="top"` but the arrow is horizontally align to the center of the popover. I'd like to align it to the start of the popover like this:
![image](https://user-images.githubusercontent.com/12076441/96945532-6967a100-14b4-11eb-99ad-0f9bdfb9fbc0.png)

[2020-10-23 01:39] SteffeyDev commented on #51
Gotcha. I would consider adding an offset into a future version to make this easier. Can't say when I'll have time but I welcome pull requests as always.

Until then, you'll have to calculate the rect of the button manually and then pass a Rect to the `from` prop. You can look into the source code to see how I calculate the rect and then use that to calculate the rect, then just shorten the width

[2020-10-23 20:37] nandorojo commented on #82
I'll be trying this out on web now that I've upgraded to RNW 0.14.

[2020-10-23 20:42] nandorojo commented on #86
@SteffeyDev I ran into the same problem as this issue with `react-native-calendars`. I figured out a solution [there](https://github.com/wix/react-native-calendars/issues/1033#issuecomment-712977254).

All you have to do is conditionally import `ViewPropTypes` from `react-native`, and not import it on web. RNW removed it from the package since React Native plans on deprecating it.

This was the so

[2020-10-23 20:56] nandorojo opened #87 "Add GIFs to the readme"
I think the readme is really nicely documented. It would be useful if the different use-cases had a short GIF. For example, the tooltip vs normal usage would be nice to see. Just a suggestion.

[2020-10-23 22:07] nandorojo commented on #82
I solved #86 locally with the solution I posted.

# Web measurement issue

As for normal web support: there is a weird bug, where the popover content is measured entirely incorrectly. I'm using RNW 0.14 with modal support. It seems like the measurement of the host node is off. It's at the top of my screen, but for some reason it's measuring it like 2000px down the screen.

# Video

I took [a video

[2020-10-23 23:06] SteffeyDev commented on #86
Ah very cool, I'll add this in and see if it works

[2020-10-23 23:08] nandorojo commented on #86
To please TS, you might need to make the web type `as any`.

[2020-10-23 23:11] SteffeyDev commented on #86
Actually TS has a problem with `document` and the fact that `View` does not have a member `propTypes`.  I think I can exclude the `document !== 'undefined'` check, where did you get `View.propTypes` from?

[2020-10-23 23:18] nandorojo commented on #86
Wix included that in their calendar library. I've never used prop types so I just copied that part over.

[2020-10-23 23:36] SteffeyDev commented on #86
Interesting.  Don't think I need that either.

[2020-10-24 03:32] SteffeyDev commented on #51
@IkaroAlef I was working on another feature and decided to just knock this out.  Check out the new `arrowShift` prop and let me know if it satisfies your needs.  I'm also curious if the documentation on it makes sense or if it needs more clarification.

[2020-10-24 03:36] SteffeyDev commented on #86
Ok, this is done in the latest release, thanks for finding a good solution!

[2020-10-24 03:36] #86 closed

[2020-10-24 03:40] SteffeyDev commented on #82
Ok, so I got it *kind of* working.  The popover renders in the correct position, but I'm having some issue with the styling.  `react-native-web` does not seem to be preserving the styles that I am applying from my `StyleSheet` (via array or destructing into an object), which means that the background is not showing up at all.  When I dig around in the DOM and apply the styles manually, it actually

[2020-10-24 03:41] SteffeyDev commented on #82
Hopefully you can investigate a bit and let me know if there's anything else I need to do on my end.  I'm invested into this now and would be excited to get this working :)

[2020-10-24 03:42] SteffeyDev commented on #82
I released the changes under 3.1.0, so those are live on NPM for you to test.

[2020-10-24 16:56] IkaroAlef commented on #51
It's perfect! Thank you very much.

[2020-10-24 17:00] SteffeyDev commented on #51
Awesome! Good to hear :)

[2020-10-24 17:00] #51 closed

[2020-10-24 17:02] IkaroAlef commented on #51
Oh sorry, I edited the comment.

[2020-10-24 17:29] SteffeyDev commented on #51
What is the source view of the popover? If you set the source view to be the icon, the arrow will align with the icon.

[2020-10-24 17:40] IkaroAlef commented on #51
I tried, but the popover won't show up.
I'm using the [Showing popover from a reference to an element](https://github.com/SteffeyDev/react-native-popover-view#showing-popover-from-a-reference-to-an-element) way and set the ref to the icon, but the popover won't show up.

[2020-10-24 19:07] IkaroAlef commented on #87
Inside the folder [react-native-popover-view/Screenshots/](https://github.com/SteffeyDev/react-native-popover-view/tree/master/Screenshots) there are some examples. I hope it helps.

[2020-10-25 01:08] SteffeyDev commented on #87
Oh man I forgot those exist and they are very outdated. Adding new ones to the readme is a good idea.

[2020-11-03 13:50] cmaycumber commented on #82
Web support would be super awesome! I've started using this on my own application but am having trouble with a popover that's inside of a custom header rendered by react-navigation because the onRequestClose function doesn't fire.

Any ideas? Building a custom popover is something I've been toying with the last few days and this library definitely ticks all the boxes.

[2020-11-03 13:57] nandorojo commented on #82
@SteffeyDev is the measurement breaking for you too, or just the color and position? (Or is the position what's incorrectly placing it?)

One possibility, I assume you aren't using `onLayout` to measure, but if you are, I believe this behaves a bit differently in web. If you're using `measure` or `measureInWindow`, I can try to investigate differences in behavior.

[2020-11-03 14:01] nandorojo commented on #82
@cmaycumber that's interesting, I would assume it should still overlay the entire app since it's in a modal. I wonder what would happen if you tried the react-native-elements tooltip to see if you get the same issue.

[2020-11-03 14:15] SteffeyDev commented on #82
@cmaycumber I have made this popover launch out of a custom react-navigation headers before, so I know it works and is possible.  I was using my https://github.com/SteffeyDev/react-navigation-popover library, which was a wrapper around react-navigation and this Popover component, you can kind of see what I was doing here https://github.com/SteffeyDev/react-native-popover-view-test-app/blob/master/

[2020-11-03 14:17] nandorojo commented on #82
Got it. Maybe we could test toggling between measure and measureInWindow to see if that accounts for the scroll? I'll take a look at RNW's code for that.

[2020-11-03 14:20] cmaycumber commented on #82
I can definitely try that out.

The only issue is I think the react-native-elements tooltip uses the RN
modal as well.

I’d ideally like the elements outside of the Popover to be still clickable
but close the popover when they are clicked.

Not sure if that’s possible or not but it looks like it almost works with
the JS_MODAL mode, the only problem being the onRequestClose not firing.

On Tue, Nov

[2020-11-03 14:24] cmaycumber commented on #82
@SteffeyDev @nandorojo Thanks for the direction. Super helpful.

I'll definitely take a look at your example.

I am using it on the web so I'll just create a new issue with this one mentioned if the problem persists!

[2020-11-03 14:27] nandorojo commented on #82
@cmaycumber oh got it, I misunderstood your intention. I'm not sure what the move is in the case of wanting to capture other touches below the modal.

If your other elements capture touches when you have JS_MODAL set, maybe you could store the popover visibility in a global context and then set the visible to false when one of the other items is pressed. I assume that's not ideal, though.

[2020-11-03 14:45] cmaycumber commented on #82
Yeah, exactly my thought. I was trying to avoid that but it might be impossible.

[2020-11-03 18:35] SteffeyDev commented on #82
@nandorojo I should have been more specific. The popover does launch from the correct position regardless of scroll, it just doesn't move to stay pointing at the element when the page is scrolled after the popover is open. Not a huge deal. Bigger issue right now is styling.

[2020-11-03 18:38] SteffeyDev commented on #82
@cmaycumber my code won't be much help for that use case, I didn't realize you wanted things in the background to be clickable either. No idea how to handle that elegantly. Web has the concept of focus but mobile does not.

[2020-11-05 20:04] nandorojo commented on #82
Still trying to test this out on my end.

For context, I'm looking to recreate this [tooltip](https://react.geist-ui.dev/en-us/components/tooltip)/[popover](https://react.geist-ui.dev/en-us/components/popover) from React Geist. Code [here](https://github.com/geist-org/react/blob/master/components/tooltip/tooltip.tsx).

[2020-11-11 14:08] kokosin4ik opened #89 "Setting 'from' prop from ref to null while open"
Hi 👋

I have a strange issue. In my case (Mode.Rn_Modal) i have `from={flag ? anchorRef : null }`. So when my popover is rendered with anchor for some element, there is a case when I want to show popover at the center without anchor and **_without rerender children_**. But now nothing happens when i change the `from` prop in runtime. Only when I have closed and opened it again it appears at the ce

[2020-11-12 02:06] SteffeyDev commented on #89
I believe this is expected behavior, I never intended for the `from` prop to be changed while the popover is open, and most likely don't have any code reacting to the change. However, I can consider this as a feature request if that is indeed what you are looking for.

[2020-11-12 07:07] kokosin4ik commented on #89
It will be great. We really need such behavior, it will help us a lot.

[2020-11-23 18:22] martinjuhasz commented on #82
I just gave it a quick try on web by dropping it into my project. This seems to not work on my end. Native is fine, but on the web the popover content is shown all the time, misplaced, and clicking the Touchable does change nothing at all.

Will see if i can debug this, to get a little bit more info what is failing here.

[2020-12-03 02:21] suresh-legato commented on #82
I have fixed that onRequestClose not firing issues. @SteffeyDev I could raise a PR for the same.
Issue is in setting the visibility.

[2020-12-03 03:33] SteffeyDev commented on #82
I'll take any PRs :)

[2020-12-14 08:55] ajoykarmakar opened #91 "Feels like it's slowly opening"
**Describe the bug**
When I am clicking the button the popover opening animation looks slow. Like I have to wait half second but my animation duration in 200. Maybe the animation configuration is ease in out, Can we start the animation with linear animation style?

**Device/Setup Info:**
 - Device: Emulator / Real Devices
 - OS: Android 7,8,10
 - "react": "16.13.1",
 - "react-native": "0.63.4"

[2020-12-14 12:19] SteffeyDev commented on #91
You can control the easing through the `animationConfig` prop. Please reference the README.

[2020-12-14 12:21] SteffeyDev commented on #91
It is worth noting that the performance of the device is a factor here, as it has to complete one or two render and calculation cycles before the Popover animation actually starts.  This is due to the complex nature of calculating the position and animation properties when the source button could be anywhere on the screen.

[2020-12-14 16:23] ajoykarmakar commented on #91
Hello there, Thank you for the response. In the documentation -   ` animationConfig = {{ duration: 600, easing: Easing.inOut(Easing.quad) })}` But how should I implement the linear animation style? I can't found the appropriate options.

[2020-12-14 17:13] SteffeyDev commented on #91
https://reactnative.dev/docs/easing

You will have to read up on RN Easing to find the function you want. The example in the README is just that, and example.

[2021-01-03 15:57] nandorojo commented on #82
Has anyone made more progress on web?

[2021-01-28 23:40] nandorojo commented on #82
This portal project looks promising, and seems like it hopes to work on web: https://github.com/gorhom/react-native-portal

Maybe a portal could power this library's popovers.

[2021-02-09 23:06] peresbri-apthletic opened #92 "The popover never displays when in TOOLTIP mode"
I want to make sure taps to the area around the popover fall through to those views so I am using the TOOLTIP mode. but this is not displaying anything anymore. I am doing something wrong? How is the display are calculated in this case?

Cheers

[code]

[2021-02-16 12:21] hughman77 opened #93 "Remove dependency on `react-native-safe-area-view`, replace with instructions on how to use `react-native-safe-area-context` with `displayArea` prop instead"
The `react-native-safe-area-view` is deprecated (https://github.com/react-navigation/react-native-safe-area-view) and the usage produces deprecation warnings in Expo projects: `The global "__expo" and "Expo" objects will be removed in SDK 41. Learn more about how to fix this warning: https://expo.fyi/deprecated-globals`.

[2021-02-17 04:20] SteffeyDev commented on #93
I agree, I've been needing to do this for a while.  It's on my radar.  Unfortunately it is not as simple as it sounds, I remember attempting the migration before and running into unexpected difficulties.  However, I'm sure things have changed since then, so it is worth another go.

[2021-02-17 04:26] SteffeyDev commented on #92
For usage in TOOLTIP mode, it is very important that all parents of the Popover fill the screen, both height and width, if at all possible. This may involve putting the Popover higher up in the hierarchy than you typically would.  Avoid putting the popover inside of a scroll container.

The debug output should help in identifying where the popover is showing.  It is most likely appearing off the s

[2021-02-17 04:27] #91 closed

[2021-03-04 08:46] pinpolygons commented on #92
how can I use it in Flatlist?

[2021-03-04 12:20] SteffeyDev commented on #92
You should either avoid tooltip mode for using in FlatList, or if you must use tooltip mode, put the popover outside the FlatList, use `ref` or `rect` for the `from` prop, and control visibility manually. I think passing in a ref from a button in a FlatList will still properly calculate the actual position on screen.

[2021-03-04 23:25] peresbri-apthletic commented on #92
@SteffeyDev thanks for the tips mate.
I have parked that issue for now. Will keep you posted when I work on it again.
Cheers

[2021-03-05 04:30] MaganAnkur opened #94 "Tooltip is flickering(Android only)"
**Describe the bug**
Tooltip is flickering on android device

https://user-images.githubusercontent.com/42070594/110067392-a173d000-7d41-11eb-9782-d7632afa55bc.mov

[2021-03-30 16:29] vaibhavs2 opened #95 "Tooltip-Popover not visible on top of all the views when popover-Placement is RIGHT"
onLongPress on emojis displaying toolTip-popOver
when placement is TOP, LEFT, BOTTOM then all good, tooltips displaying correctly top of all emojis but  problem is when the placement is RIGHT
Look at the images below, the tooltip is visible but below the Imojis it should be on top.

**Device/Setup Info:**
 - OS: Android 6
 - `react-native` version: 0.63.4
- `react-native-popover-view` version: ^3.

[2021-04-10 02:25] SteffeyDev commented on #94
Sorry for leaving this for so long.  Are you still experiencing this issue?

[2021-04-10 02:25] SteffeyDev commented on #94
It looks like 3 popovers showing on top of each other

[2021-04-10 02:31] SteffeyDev commented on #95
This is fascinating.  However, it is probably something you can (and should) fix from your end.  In TOOLTIP mode, the placement of the `<Popover>` in the hierarchy is important.  If it is above an element in the JSX, it will show behind that element.  If it is below an element, it will show on top of it.  That is simply how JSX (and HTML) work, when no additional styles are applied.  You can eithe

[2021-04-10 02:32] SteffeyDev commented on #95
If you are still having trouble, share the bit of code that includes the Popover and I can probably point out the issue more clearly

[2021-04-10 08:00] RajRohitYadav opened #97 "Arrow origin issue for item partially out of view in the left"
**Describe the bug**
If Origin of popover goes out of view even a little bit on the left side, the popover arrow starts from the edge of the device. Ideally, the arrow should start from the edge of the origin. Can be compared with the right side for verificaion. Check the video below.

**Device/Setup Info:**
 - Device: iPhone 12 (Simulator)
 - OS: iOS 14.4
 - `react-native` version: 17.0.1
- `reac

[2021-04-10 16:58] SteffeyDev commented on #97
Thanks for the write-up, I'll try to have this fixed for next release.

[2021-04-10 20:35] vaibhavs2 commented on #95
| EmojiWithTooltip.js | parent component |
|---|---|
| <img src="https://user-images.githubusercontent.com/31806059/114283146-e89e6080-9a65-11eb-9145-f4353d58c3fe.png" />| <img src="https://user-images.githubusercontent.com/31806059/114283144-e6d49d00-9a65-11eb-9893-a373d69d5d82.png" />|

I tried `zIndex` but didn't fix it, may be due to FlatList all would have same `zIndex`, I dont know number of

[2021-04-11 02:38] SteffeyDev commented on #95
We are discussing more flexible placement options and preferences (#96), so you may be interested in that.  Right now, it prefers right and left to top and bottom, but that will soon be customizable.

As far as zIndex, can't you just set it to a high number (e.g. `1000`) so that it always shows above other views?

[2021-04-11 05:44] vaibhavs2 commented on #95
yes , I saw somewhere in code there is default `zIndex=1000` i tried with `zIndex=2000` :smile:
i tried zIndex even in `style.emojiRow` in `EmojiWithTooltip.js` and also tried as you said in  `popoverStyle`
we #96 is great a enhancement

[2021-04-12 07:30] SikoraKam opened #98 "onCloseComplete dos not work on iOS"
**Describe the bug**
On android everything is fine but on iOS prop onCloseComplete is not triggered.
Try simple onRequestClose={() => console.log('isItWorking?')}

Additional, I am using isVisible and onRequestClose props if it change sth.

**Device/Setup Info:**
 - OS: iOS 14.3
 - `react-native` version: 0.63.4
- `react-native-popover-view` version: 3.1.1

[2021-04-15 00:18] SteffeyDev commented on #98
Are you using expo? It's working in expo for me, but I don't have a non-expo app built to test in.

[2021-04-15 00:31] SteffeyDev commented on #95
I've had difficulty with zIndex, but unfortunately that is outside of my control.  You'd have to browse stack overflow and other React forums for how to make it work.  React renders components and icons in the order they appear in the JSX, so the icons to the right and bottom of the `<Popover>` will render on top of the `<Popover>`.

I've designed the `from` prop to be very flexible, so you have a

[2021-04-15 00:33] SteffeyDev commented on #95
Obviously zIndex would be the simplest and most elegant solution, but that is something outside the control of this library.  I've provided the necessary props (`popoverStyle`) for you to work with.  If you can't get it it working, you have workarounds available, as explained in last post.

[2021-04-15 01:04] SteffeyDev commented on #93
Right, so biggest issue is that react-native-safe-area-context requires native modules, and this is a JS only library that does not have any native dependencies.

I'll probably just ditch the dependency, and add a `displayAreaInsets` prop that can take the insets from `useSafeAreaInsets`, so that users can opt-in to having the popover respect the safe insets.

[2021-04-15 01:46] SteffeyDev commented on #93
Actually, it looks like `react-native-safe-area-context` already has a `useSafeAreaFrame`, which can probably be passed directly into the `displayArea` prop.  That's perfect.

This will require a new major version, as it is technically a breaking change, but should be well worth it, making this library have 0 dependencies and less calculation work.

[2021-04-15 10:30] erbud opened #102 "The global "__expo" and "Expo" objects will be removed in SDK 41"
**Is your feature request related to a problem? Please describe.**
The global "__expo" and "Expo" objects will be removed in SDK 41.

**Describe the solution you'd like**
Use a module import Constants (expo-constants) rather than a deprecated global API.

[2021-04-15 12:27] SteffeyDev commented on #102
I don't understand this, you're going to have to be way more specific. AFAIK I don't use any expo-specific code.

[2021-04-15 20:45] erbud commented on #102
@SteffeyDev when I installing and using react-native-popover-view:

[code]

The following warning is displayed when activating and displaying the popover:

The global "__expo" and "Expo" objects will be removed in SDK 41. Learn more about how to fix this warning: https://expo.fyi/deprecated-globals

I'm trying to debug to confirm what causes the warning

Regards.

[2021-04-15 23:58] SteffeyDev commented on #102
If you remove all the Popovers from your app, but nothing else, does the warning go away?

[2021-04-16 10:10] erbud commented on #102
@SteffeyDev yes, the warning only is displayed when show and hide the Popover. On tap the component (to show) and on tap outside the Popover (to hide).

[2021-04-17 01:56] SteffeyDev commented on #102
Well, I just searched my source code to be sure and am not using Expo globals (I don't even have expo as a dependency).  That means that either `react-native-safe-area-view` (my only dependency) is using Expo globals (I am ditching this library soon anyways), Expo is bugging out and giving bad warning, or the issue is in your code or another dependency you are using.  Either way, nothing I can do,

[2021-04-17 01:56] #102 closed

[2021-04-17 18:51] SikoraKam commented on #98
no, I don't use expo

[2021-04-18 23:41] SteffeyDev commented on #97
I found the issue, this will be fixed in next release (v4.0.0)

[2021-04-19 00:27] SteffeyDev commented on #98
Ok, I think I have a fix ready for next release

[2021-04-19 00:34] SteffeyDev commented on #98
This is actually a bug with `react-native` (https://github.com/facebook/react-native/issues/26892), but I found a work-around that bypasses the issue.

[2021-04-19 02:54] SteffeyDev commented on #98
Fixed in 4.0.0

[2021-04-19 02:54] #98 closed

[2021-04-19 02:54] SteffeyDev commented on #97
Fixed in 4.0.0

[2021-04-19 02:54] #97 closed

[2021-04-19 02:54] SteffeyDev commented on #97
Re-open if it does not work for you

[2021-04-19 02:55] SteffeyDev commented on #93
Completed with v4.0.0

[2021-04-19 02:55] #93 closed

[2021-04-19 02:58] SteffeyDev commented on #49
In the latest version (4.0.0), the vertical offset is applied before margins, so this should be fixed.  Re-open if it is still an issue in the latest version.

[2021-04-19 02:58] #49 closed

[2021-04-19 11:39] erbud commented on #102
@SteffeyDev sorry bro., the warning is triggered by the sentry-expo package …

[2021-05-31 09:06] mohdzaid2612 opened #107 "Popover freeze after clicking on a button in IOS"
I have 3 buttons inside the popover, and one of the buttons is responsible for showing the model.
 On clicking that button Model is not opening and also freeze the popover.
and also onCloseComplete is not working

 IOS version : 12.0.0 >
Library version : 4.0.1

Here is my code:
![image](https://user-images.githubusercontent.com/41935754/120169350-7b18e000-c21d-11eb-8266-c0ea582e7ef8.png)

[2021-07-01 12:12] ergenekonyigit commented on #37
We're having same problem, I tried to disable animation but problem not fixed.

rn version: 63.2
popover-view version: 4.0.1

[2021-07-04 15:22] mcanikhilprajapati commented on #37
I am able to open Popover with some emoji on each chat message but i can't find way to close it from content.
any help?
thanks

![Simulator Screen Shot - iPhone 12 Pro Max - 2021-07-04 at 20 51 22](https://user-images.githubusercontent.com/18482064/124390538-b4a3a600-dd09-11eb-892a-977d5b81b63b.png)

[2021-07-04 18:50] SteffeyDev commented on #37
@ergenekonyigit can you provide reproduction steps? Can you reproduce consistently?

[2021-08-08 04:15] SteffeyDev commented on #107
Because the Popover component uses a modal by default, you can't show another modal on top of it (a React Native limitation).  To help with this, I created the `js-modal` mode prop which uses a custom implementation instead of the RN modal, and would allow for a modal to show above the Popover.  However, in `js-modal` mode, placement is a little trickier, so you may have to move the Popover higher

[2021-08-08 04:15] #107 closed

[2021-08-08 04:15] SteffeyDev commented on #107
Feel free to re-open if you have additional related ssues or feel that my answer does not solve your issue

[2021-08-08 04:16] SteffeyDev commented on #95
Closing due to inactivity

[2021-08-08 04:16] #95 closed

[2021-08-08 04:16] SteffeyDev commented on #94
Closing due to inactivity

[2021-08-08 04:16] #94 closed

[2021-08-08 04:17] SteffeyDev commented on #92
Closing due to inactivity

[2021-08-08 04:17] #92 closed

[2021-08-10 06:21] 321hendrik opened #113 "Popover not showing when given "from" property"
**Describe the bug**
I tried the basic example code below to show a popover from an element, but the popover is not showing. Passing a ref also does not work. The popover shows when not using the `from` property or passing a predetermined position.

[code]

**Device/Setup Info:**
 - SImulator: iPad Pro (12.9-inch) 5th generation
 - OS: iOS 14.5
 - `react-native` version: 0.64.2
- `react-native-pop

[2021-08-12 13:10] ValTKT opened #114 "Closing one popover and opening an other after a certain amount of time"
I am currently trying to make a popover tutorial for an app. My problem is that I need to show a popover and when clicking on the "Next" button, close the current popover and opening an other after some time. When trying to set the new state, the current popover is closing but the next one is not opening. I am using react-native-popover-view. Here is my code:

[code]

The tmp and popoverDetails ar

[2021-08-12 21:40] SteffeyDev commented on #114
You can't have two popovers open at the same time (unless you use `js-modal` mode), so you should use the `onCloseComplete` prop to know when it is safe to show the next popover. If there is any overlap the second will fail to show.

[2021-08-13 02:21] Valar207 commented on #114
Yes I already tried with the OnCloseComplete. What is strange is that even when the isVisible in popover 2 is true and false in popover 1 it doesn't show after closing the first.

In the popover1 I'm doing,
[code]

[2021-08-13 02:32] ValTKT commented on #114
Yes I know, I already tried with that. And even if the popover2 isVisible is true and the popover1 false, the 2 is not showing.
I tried something like that:

[code]

[2021-08-16 11:26] Manoj002 opened #116 "Shadow not appearing for arrow"
**Describe the bug**
Hello, im trying to render the popover as rn-modal and using popoverStyle and arrowStyle to provide style.

Issue 1:
Shadow is working for popover in android and ios, but shadow is not appearing for arrow in android and ios

Android:
![image](https://user-images.githubusercontent.com/10413690/129550473-b20965fe-6174-4186-815e-1710b34f57b5.png)

iOS:
![image](https://user-image

[2021-08-17 00:51] SteffeyDev commented on #116
I'll need to know a few things...
1) What are you passing in for `arrowStyle` and `popoverStyle`? The shadow issue is probably related to that.
2) What is the debug output? That will help me with the second issue

[2021-08-17 04:44] Manoj002 commented on #116
Hey @SteffeyDev

here are the styles,

[code]

[2021-08-17 15:01] #114 closed

[2021-08-20 08:45] matthesjh opened #117 "Event listener errors and warnings with `react-native` version 0.65.0 and later"
**Describe the bug**

Starting with `react-native` version 0.65.0 the method `Dimensions.removeEventListener` is deprecated and produces a warning when closing the popover. The `Dimensions.addEventListener` method now returns an `EventSubscription`, which can be used to remove the event listener (see https://github.com/facebook/react-native/commit/c47a03563db72d1580bf87b7729bd22ce6ca63dd). Further

[2021-08-22 18:51] lucasfloriani commented on #117
#118 is a PR to fix this issue

[2021-08-30 22:32] SteffeyDev commented on #117
Merged and released

[2021-08-30 22:33] SteffeyDev commented on #117
Actually, #118 only fixed the keyboard part, not the dimensions

[2021-08-30 22:44] SteffeyDev commented on #117
Looks like @types/react-native is not updated to 0.65.1 yet, so I can't change to using the subscription event yet because TypeScript won't build.  Once @types/react-native is updated, I can complete this pretty easily.

[2021-09-06 16:02] KristofaJosh commented on #117
i'll be watching this.

[2021-09-06 21:09] baatten commented on #117
I also have this warning all the time. waiting as well...

[2021-09-21 08:17] matthesjh commented on #117
@SteffeyDev `@types/react-native` is now available in version `0.65.1`.

[2021-09-27 04:04] baatten commented on #117
@SteffeyDev  any news on this? can you help with it please?

Morten

[2021-10-05 22:06] baron816 opened #122 "Need callback on handleChange's animateTo"
**Is your feature request related to a problem? Please describe.**
I need to be able to trigger an action whenever the popover moves.

In my case, when the orientation of the device changes, my popover is going to move, but I have another tooltip that points to the popover. When that position changes, I need to notify the popover to move too.

**Describe the solution you'd like**
https://github.co

[2021-10-07 01:40] SteffeyDev commented on #117
Released v4.1.0

[2021-10-07 01:40] #117 closed

[2021-10-07 01:40] SteffeyDev commented on #122
Merged and released v4.1.0

[2021-10-07 01:40] #122 closed, assigned to nobody

[2021-10-14 03:39] sairamyaM opened #124 "When I use popover mode as tooltip I am unable to see the popover"
**Describe the bug**
What is it that you are seeing?  Please be detailed in your description so that I can help fix your issue as quickly as possible.
When I use popover mode as tooltip I am unable to see the popover
**Device/Setup Info:**
 - Device: [ Android emulator pixel 3a API 30]
 - OS: [Android 10]
 - `react-native` version: [react-native-cli: 2.0.1]
- `react-native-popover-view` version: [

[2021-10-27 14:22] arunim2405 opened #125 "App Crashing on Android after opening Tooltip"
**Describe the bug**
What is it that you are seeing?  Please be detailed in your description so that I can help fix your issue as quickly as possible.

**Device/Setup Info:**
All android devices
 - `react-native` version: [e.g. 0.64.2]
- `react-native-popover-view` version: [e.g. 40.3]

**Debug Output**
Pass the `debug={true}` prop into the Popover, and then paste the contents of the log here.
TRU

[2021-10-27 14:28] #125 closed, assigned to nobody

[2021-10-29 10:02] effinsky opened #126 "Please add testID prop to improve testability"
Please add testID prop to improve testability with jest and react testing library

[2021-11-08 14:04] AdamGerthel opened #127 "Add ability to offset the popover"
**Is your feature request related to a problem? Please describe.**
Yes, a design problem, but not a technical problem

**Describe the solution you'd like**
I'd like to be able to specify a value (in pixels), similar to the `verticalOffset`, but which is applied no matter where the placement is. The value should be added as empty space between the start of the arrow and the originating position. I.

[2021-11-09 17:39] SteffeyDev commented on #124
You need to move the Popover further up the component chain, so that it is a direct descendant of a view that fills the entire screen.  Right now, I'm guessing it is right next to the input, which is why the `displayArea` height is `68`, as it shows in your log output.  It is trying to show, but it is bounded by the same rectangle that your input takes up, so has nowhere to show.  This is the unfo

[2021-11-09 17:43] SteffeyDev commented on #126
Can you link to an example or docs about how you would use this prop? I'm not familiar with react testing library, and thus don't know what I would do with the value you would pass in this new prop.

[2021-11-09 17:51] SteffeyDev commented on #127
I'm not sure if this works for your use case, but you could wrap your `from` element in a `View` with some `padding`, which should have the desired effect:

[code]

[2021-11-09 17:52] SteffeyDev commented on #127
I'm sure there are some cases where adding the padding might mess up the rest of your layout, so let me know if that is the case for you.  I try not to add props unless there is not a way to solve the problem outside the library, to keep this library simple and small.

[2021-11-09 19:17] adiforka commented on #126
Hi, as far as I am aware now, a testID prop--standard for both native RN components and 3rd party libs--is pretty much the only way in this case to "grab" this component in a test so as to verify its behavior. TestID is not the optimal way to test components, but in this case I cannot see another way to refer to the popover directly so as to check its properties etc. For example, I can search for

[2021-11-09 21:08] AdamGerthel commented on #127
As you mention yourself, adding padding is not an option since it causes layout issues. I'm using popovers in a lot of places like this (with long-press to open it):

<img width="305" alt="Screen Shot 2021-11-09 at 22 07 41" src="https://user-images.githubusercontent.com/1490370/141004857-25ec441b-2810-4f1e-a4de-286e0027886c.png">

In the above example, I could add padding as a workaround, but not

[2021-11-10 04:13] SteffeyDev commented on #127
Ah yep that does look like a situation where padding wouldn't work. I'll think about the best way to implement this feature.

[2021-11-10 08:42] AdamGerthel opened #128 "Cannot use functional components as "from""
**Describe the bug**
Popover does not work when a functional component is supplied to the `from` prop. Error message reads:

I don't know if this is intended behavior or not, and I'm not sure how to work around it.

**Device/Setup Info:**
Any device, see snack: https://snack.expo.dev/@insats/sample-popover

**Debug Output**

[2021-11-10 09:23] AdamGerthel commented on #128
Solved by using `React.forwardRef()`

[2021-11-11 02:37] SteffeyDev commented on #128
I'm actually going to re-open this so that I remember to update the documentation to mention this. Thanks for pointing it out.

[2021-11-24 15:09] arunim2405 commented on #33
Also facing this issue, using a flatlist of dynamic length, causes the same behavior

[2021-11-25 06:51] AdamGerthel commented on #127
Another reason: Visibility. When the popover opens very close to the triggering point, the finger or thumb is often covering parts of the popover. If you slide the finger away to get more space, the popover becomes inactive and closes (if it's done using "press to hold").

[2021-11-28 20:26] SteffeyDev commented on #126
Ok, so it sounds like I just need to add the `testID` property to the TypeScript type so that you can pass it as a prop without it getting upset right? It doesn't look like I have to actually do anything with the string you pass in.

[2021-11-28 22:21] effinsky commented on #126
Yes, it would seem so, thanks!

On 11/28/2021 9:26 PM, Peter Steffey wrote:

[2021-12-05 08:55] effinsky commented on #126
Seems like it's not just a TS thing. Seems like you actually need to add the testID to the props accepted by the component, same as on the React Native's other built-in components and those provided by community libs like React Native Elements or Native Base. Thanks in advance!

[2021-12-09 04:25] SteffeyDev commented on #126
So, technically React and JS allows you to pass any props to a component, because props is just a JS object, so there is no concept of `accepting` a prop.  I can choose to read the value of a prop, but if I'm not going to do anything with it there's no need to read it.  TypeScript is the only part of this that doesn't allow props to be passed in unless they are defined within the component.  Hopef

[2021-12-16 15:10] adrianskogvold opened #129 "ShadowOffset has wierd behaviour on iOS"
While using the popover I noticed an issue with shadowOffset on iOS,

There are 2 usecases that I've seen so far:

When just using the isVisible prop and  animating the popover in then the shadowOffset will be incorrect on the first render, but will be correct on sequential renders.
In the app I'm working on I remove it completely from the DOM when its not visible. And when that is the case then t

[2021-12-22 14:11] Ram2103 opened #130 "Can't able to access the popover element in iOS device"
We cannot able to access the popover element in iOS device using Appium, whereas we can able locate the popover element in Android device.

[2022-02-12 03:59] SteffeyDev commented on #130
I'm not familiar with Appium, does it work on a normal iOS device or the official simulator?

[2022-02-16 14:01] Ram2103 commented on #130
In official simulator we can't able to access the popover mobile element.

[2022-02-24 18:54] SteffeyDev commented on #130
Ok, I'll need a lot more details if you expect any help with this. As this library has worked for a lot of people, the issue is most likely with your setup. I would be happy to help if you can provide detailed reproduction steps.

[2022-02-24 19:41] SteffeyDev commented on #129
Thanks for identifying this issue.  Can you please share the full code of your fix? The screenshot is making it difficult to tell what you changed.  A before and after would be even better.

[2022-02-24 19:49] SteffeyDev commented on #128
Updated readme, added this under troubleshooting section.

[2022-02-24 19:49] #128 closed

[2022-02-24 19:54] SteffeyDev commented on #126
@effinsky I see examples [like this](https://github.com/react-native-elements/react-native-elements/commit/09e1e3125b9624b0a19516d5af75606aecfc159b) where they add a `testID` prop to an underlying component, such as a view, so that the view can be grabbed.  This is very different from adding a `testID` prop to the `Popover` component itself.  Is this still a feature you are looking for?

[2022-02-24 19:55] SteffeyDev commented on #124
@sairamyaM Were you able to resolve your issue?

[2022-02-24 20:29] SteffeyDev commented on #113
What's your environment? I just plugged this into an Expo snack and it worked fine.

[2022-02-24 20:37] SteffeyDev commented on #113
I tried to stand up a non-expo environment, but it looks like the default react native template has issues building iOS, so I'm not able to test that unfortunately.  However, I'd be very surprised if non-expo RN works differently than expo RN for a module that doesn't depend on any native features.

[2022-02-24 20:41] SteffeyDev commented on #15
For now, I'll probably make it so that `overflow` is set to `visible` if any shadow props are passed in.

[2022-03-08 11:39] ben-wright commented on #130
@Ram2103 @SteffeyDev The bug seems to lie with React Native or Appium. Elements which have `position: absolute` nested within `<Modal>` do not seem to appear in appium.

To get round this with this when using `react-native-popover-view` simply apply add popoverStyle prop with relative position.

eg:
`<Popover popoverStyle={{position: 'relative'}}></Popover>`

[2022-03-10 07:41] hytStart opened #132 "why not use import { ViewPropTypes } from 'react-native'？"
https://github.com/SteffeyDev/react-native-popover-view/blob/d268481b271683da556ed51cf3aa1d13b84ef112/src/Popover.tsx#L85

[code]

[2022-03-12 02:38] SteffeyDev commented on #129
Thanks for the details.  I'm actually unable to get `shadowOffset` working period now, both in your snack and in my own testing.  Are you still able to get it working with your modifications?

[2022-03-12 02:40] SteffeyDev commented on #130
Interesting, I can add this to the troubleshooting steps.  Are there any side affects when you use this work-around in appium?

[2022-03-12 02:41] SteffeyDev commented on #132
Thanks, closing in favor of #133

[2022-03-12 02:41] #132 closed

[2022-03-12 03:45] SteffeyDev commented on #127
Added an `offset` prop.  This will be fixed when 4.2.0 is released.

[2022-03-12 03:45] #127 closed

[2022-03-12 03:46] SteffeyDev commented on #15
I made this change, will be released with 4.2.0

[2022-03-12 03:46] #15 closed

[2022-03-13 13:12] ben-wright commented on #130
Only downside I see is that it can potentially be awkard to style the modal as it'll need relative positioning

[2022-03-18 13:34] hirbod commented on #87
I was about to write the exact same issue. I think most of the solid libs with very little "star count" are most likely due to missing screenshots. And they should be at the TOP of the readme. I usually tend to skip libs without them.

[2022-03-21 02:09] SteffeyDev commented on #129
Looks like this was due to an issue in `Animated.View`. Moving shadow props to parent fixed. https://github.com/oblador/react-native-animatable/issues/133

[2022-03-21 02:12] SteffeyDev commented on #116
I had to refactor a lot, but got this working.  Changes will be included in version 5.0.

[2022-03-21 02:12] #116 closed

[2022-03-21 02:12] SteffeyDev commented on #129
Fix will be included in 5.0

[2022-03-21 02:12] #129 closed

[2022-03-21 03:01] SteffeyDev commented on #89
I was able to get this working, this will be included in 5.0

[2022-03-21 03:01] #89 closed

[2022-03-21 18:25] jaredh159 opened #134 "is it possible to show at the top of the screen?"
Hi there! Thanks for the great library, really appreciate all your work in it.

I'm using your popover view in a couple places in a few production apps of mine, but up until now I've always wanted my popovers not anchored to anything and centered in the screen. This works great out of the box.

But I have a new component I'm working on that I don't want to anchor to anything, but I want it to fix

[2022-03-21 18:51] SteffeyDev commented on #134
You are on the right track! I was thinking yesterday about adding a prop for better control of placement of floating popovers (maybe similar to arrowShift but in both dimensions). I'm definitely thinking about ways to simplify the API and am open to suggestions!

However, for the current version, you are absolutely correct to use a Rect. It uses a normal coordinate system, so (0, 0) is the top lef

[2022-03-21 20:45] jaredh159 commented on #134
@SteffeyDev thanks so much for the quick response.  finally got it working, with your hint, and a bit more experimentation. for some reason (unless I'm crazy), it wouldn't work when it was in `PopoverMode.JS_MODAL` I had to switch it to `PopoverMode.RN_MODAL` as well, then use the technique you described.  thanks again.

[2022-03-21 20:45] #134 closed

[2022-03-21 21:06] SteffeyDev commented on #134
Glad to hear! JS_MODAL is tricky to work with, you need to make sure the Popover component is positioned correctly in the component hierarchy so that it can actually show. Was the JS_MODAL showing centered or not showing at all?

[2022-03-21 21:17] jaredh159 commented on #134
it was showing not at all (as far as I could tell...)

[2022-03-21 21:19] SteffeyDev commented on #134
Awesome, sounds like a typically JS_MODAL layout issue and not a bug, thanks for confirming. I'll probably update the docs to explain how to use JS_MODAL better, lots of people struggle with it, but it's the only way to have nested popovers and tooltips.

[2022-03-27 20:47] SteffeyDev commented on #87
Done!

[2022-03-27 20:47] #87 closed

[2022-03-27 21:11] SteffeyDev commented on #89
Version 5.0.0 released, which includes support for this feature

[2022-03-27 21:12] SteffeyDev commented on #129
Version 5.0.0 released, which includes many shadow-related fixes and improvements (see https://github.com/SteffeyDev/react-native-popover-view#upgrading)

[2022-03-27 21:12] SteffeyDev commented on #116
Version 5.0.0 released, which includes a fix for this

[2022-03-27 21:12] SteffeyDev commented on #15
Version 5.0.0 released, which includes many shadow-related fixes and improvements (see https://github.com/SteffeyDev/react-native-popover-view#upgrading)

[2022-03-27 21:13] SteffeyDev commented on #127
Version 5.0.0 released, which includes the `offset` prop (I had to release a new major version due to other breaking changes)

[2022-03-30 09:29] Mahalakshmi269 opened #135 "Shadow not appearing in android"
Describe the bug
Hello, I'm trying to render the popover as rn-modal and using popoverStyle to provide style.

Issue:
Shadow is not working for popover in android, but shadow is appearing for popover and arrow in iOS.

Android:
<img width="388" alt="Screenshot 2022-03-30 at 2 35 05 PM" src="https://user-images.githubusercontent.com/16955833/160798281-4b4cc1a0-7413-4a81-8774-e2d98a1ab7ee.png">

iOS

[2022-03-30 09:33] Mahalakshmi269 commented on #135
Used the following code:
[code]

[2022-03-30 10:01] BalaManikantaB commented on #135
@Mahalakshmi269 I was facing this issue too..
In v4.1.0 it used to show shadow on the view but after updating to latest version shadow properties are not getting applied

[2022-03-31 05:25] Mahalakshmi269 commented on #116
https://github.com/SteffeyDev/react-native-popover-view/issues/135
In v4.1.0 it used to show shadow on the view but after updating to latest version shadow properties are not getting applied in android. In IOS it works as expected.

[2022-04-01 02:02] SteffeyDev commented on #135
Thanks for letting me know; I just released 5.0.1 with the fix. Unfortunately, I'm not able to get the shadow working on the arrow on Android like I did on iOS (probably the way Android handles elevation and borders), but I've restored the shadow for the popover itself and raised the arrow to the same elevation, so at least the shadow won't show on top of the arrow.

[2022-04-01 02:02] #135 closed

[2022-04-05 20:23] AftabUfaq commented on #124
any solution fro this

[2022-04-05 21:23] SteffeyDev commented on #124
I'm assuming the OP has moved on. Please read my recommendation, review the recently updated documentation on this topic, and open a new issue with specific details if you are having an issue

[2022-04-05 21:23] #124 closed

[2022-04-11 06:54] onlyling commented on #69
There is a warning message only when opening and closing for the first time

[code]

## Code

[code]

## Log

[code]

[2022-04-13 17:05] abdoutech19 opened #136 "ViewPropTypes will be removed from React Native"
I get this warning when loading the module:
`ViewPropTypes will be removed from React Native. Migrate to ViewPropTypes exported from 'deprecated-react-native-prop-types'.`

Please fix the issue since the only way around it now is to silence the warning using:
[code]

[2022-04-13 19:59] Tatobarbosa opened #137 "Facing "SyntaxError: Cannot use import statement outside a module" when trying to test"
**Describe the bug**
I'm trying to implement this library to my app, but when i try to test, i'm having this issue:
![image](https://user-images.githubusercontent.com/78745144/163260758-5f35fd04-9519-4ade-9ae9-915fc42c20b4.png)

**(It work properly on my device)**

The strangest thing is that the other libraries I use in the app work without problems, only this one doesn't want to work.

**Device/

[2022-04-24 11:57] jonathanj commented on #69
I see this issue is closed @SteffeyDev, however this is definitely still happening for me, in 5.0.0 (RN 0.67.3 on iOS 15.4), when closing the popover. The source of the issue reported by React Native is calling `setState` in `onCloseComplete` from `AdaptivePopover`.

My conclusion is that the issue is [because `AdapterPopover` calls `onCloseComplete`](https://github.com/SteffeyDev/react-native-pop

[2022-04-24 22:31] SteffeyDev commented on #69
Thanks for the research, I'll look into this again next time I'm working this project.

[2022-05-10 07:00] mochi08 commented on #130
Running into same issue here.  In iOS, elements inside the popover are not selectable in Appium.  Adding `position:relative` does indeed make the elements selectable, but styling will be tricky.  I'm struggling to get my popover to size dynamically with `position:relative`.

Interesting thing I found is that react-native-popover-view works perfectly with Appium in andorid but not in iOS;  on the o

[2022-05-30 16:53] sejr1996 opened #138 "How can I place a dialog on the popover ?"
I added a popover, but I have a problem, that the dialogs are displayed below the popover.
How can I locate the dialog on the popover?

![Simulator Screen Shot - iPad Pro (11-inch) (3rd generation) - 2022-05-30 at 11 50 57](https://user-images.githubusercontent.com/75812071/171034698-ed8fae59-d23b-4f04-987d-99c566468f20.png)

[2022-05-30 22:57] SteffeyDev commented on #138
Try out the 'js-modal' for the `mode` prop, and read the documentation about that. Using 'js-modal' is more difficult because you have to be careful how you position it, but it should fix the problem. I tried to explain how to use it properly on the README, but feel free to continue this thread if you have any problems.

[2022-06-10 18:55] mazenchami commented on #69
@SteffeyDev just opened a [PR](https://github.com/SteffeyDev/react-native-popover-view/pull/139) to solve this issue.

[2022-06-22 19:37] andrew-schenk commented on #136
patch-package to fix this in v5.0.1 for RN 68+.

`patches/react-native-popover-view+5.0.1.patch`
[code]

[2022-06-26 18:45] SteffeyDev commented on #130
That is really interesting @mochi08. I just peaked through the source code of `react-native-modal-popover`, it also uses `position: absolute` inside a modal, so maybe there's something else going on?

[2022-06-26 18:46] SteffeyDev commented on #137
@Tatobarbosa Sorry I didn't respond sooner, are you still having this issue?

[2022-06-26 18:47] #138 closed

[2022-06-26 18:48] SteffeyDev commented on #113
Closing due to lack of activity

[2022-06-26 18:48] #113 closed

[2022-06-26 19:46] SteffeyDev commented on #136
Fixed in 5.0.2

[2022-06-26 19:46] #136 closed

[2022-06-26 19:47] SteffeyDev commented on #69
@mazenchami's PR included in 5.0.2. Going to close for now, will re-open if you still encounter the issue on 5.0.2

[2022-06-26 19:47] #69 closed

[2022-07-14 06:34] kwangjaeyoo opened #142 "changing typescript"
`react-native` version: 0.66.4
`react-native-popover-view` 5.0.1
"typescript": "^4.7.2"
------------------------------------

I'm switching to typescript.
I get this log in vscode.
It works normally in the simulator(ios, android) and device.
error log from vscode.

------------------------------

No overload matches this call.
  Overload 1 of 2, '(props: PublicPopoverProps | Readonly<PublicPopover

[2022-07-18 01:31] SteffeyDev commented on #142
Thanks for bringing this to my attention, fixed in 5.1.1

[2022-07-18 01:31] #142 closed

[2022-07-18 01:41] kwangjaeyoo commented on #142
Thank you for fixed this !

[2022-07-28 17:22] DominickVale opened #143 "MeasureContent/handleChange doesn't get called in some cases, resulting in overflow"
**Describe the bug**
As title and video show, after recalculating the dimensions once it doesn't do it anymore... At first i thought it had some sort of maxHeight, but then i noticed that if the popover is opened with all 3 switches toggled and expanded, the height is calculated just fine, and i can even toggle them on and off without it overflowing...

**Device/Setup Info:**
 - Emulator Pixel 4

[2022-08-11 09:12] quizzyDev commented on #130
First of all thanks @SteffeyDev for a great package and responding to us when we need help 🍻
...
This is a really weird issue with Appium as absolutely positioned elements within a rn-modal are sometimes visible in appium desktop and sometimes they're not. (If anyone knows what the pattern is please let us know).

The fix that I used for both v4.1.0 and v5.1.2 was by setting one of the `View` elem

[2022-08-23 22:46] SteffeyDev commented on #143
@DominickVale Thanks for reporting. I'm not able to see the video, can you try re-uploading?

[2022-08-25 17:34] mochi08 commented on #130
@quizzyDev your solution is awesome!  I'm using v4.1.0 and applied the fix in dist/Popover.js.  Now I don't have to add "position: relative" whenever I use the popover and it's working in Appium.  What's more is that it doesn't result in the same styling issues as before.  I haven't found any problem with any of my popovers yet.  Thank you very much!

[2022-08-30 12:39] DominickVale commented on #143
Reuploaded on youtube. https://youtu.be/ZHqyWNCVZ1w

[2022-09-03 10:28] AdamGerthel commented on #37
This is happening to me too. It's not super easy to reproduce, but it seems to happen more easily if you stop pressing the button while the animation is ongoing. There's no error and the screen becomes unresponsive.

[2022-09-07 22:46] SteffeyDev commented on #143
Interesting, a dump of the full logs would be helpful. It looks like it is not overflowing the display area, even when it goes off the screen. The `popoverOrigin` is `(10, 10)`, whereas if it were off the screen, I would expect the y-coordinate of the origin to be a negative number. Do you set anything custom for the display area?

[2022-09-07 22:47] #137 closed

[2022-09-07 23:17] SteffeyDev commented on #130
I'll run some tests on this patch and see if this works, I would be fine including this change in the repo if there's no downsides.

[2022-09-07 23:19] SteffeyDev commented on #126
I don't want to accept arbitrary view props, but I'm fine with accepting a subset. So, for your use case, would it be sufficient to just include `Pick<ViewProps, 'testID>` into the public `Popover` props?

[2022-09-07 23:21] SteffeyDev commented on #37
I'm unable to play that video, can you try re-upload or upload on a different platform? Also, can you include debug logs?

[2022-09-08 05:20] ginnymin commented on #126
That would work for me! Thanks so much

[2022-09-08 08:25] DominickVale commented on #143
You're right, sorry, i should've included it in the first place along with the code:
[code]
[code]
[code]
The horizontalMultiSliders expand via conditional rendering of the children
Rendered channel: 0 means the parent component of the popover rerendered
[code]

[2022-09-12 12:06] AdamGerthel commented on #37
Here's a new video: https://user-images.githubusercontent.com/1490370/189649072-91c42527-bf73-4880-8b5f-7ec99ff53b7c.mp4

I'm using longpress to display the popover. Mode is `PopoverMode.RN_MODAL`. I'm actually thinking that the problem could be that it doesn't close properly rather than freezes, but that there's no way to get rid of it once it's opened and the finger is off.

Logs:

[code]

[2022-09-17 14:18] dantxal commented on #37
Hello, I work with @AdamGerthel.

I created a snack where you will be able to reproduce the error (you might have to try it a few times, but it surely happens):
https://snack.expo.dev/@dantxal/popover-freeze

[2022-09-17 16:14] dantxal commented on #37
I found a hacky way to solve it.

What seems to happen is, since the onPressOut event happens in the middle of the animation, the showPopover state variable gets set to false in the middle of the animation. So the animation ends (showing the popover), now the popover is shown even if the showPopover variable is false.

# The fix

I added onOpenComplete={show} which will update the popover state va

[2022-09-19 20:12] SteffeyDev commented on #37
So, this should be handled internally already... If `isVisible` is set to false while it is animating in, it sets the `animateOutAfterShow` flag to true which automatically triggers the animate out once the animate in completes. It looks like that mechanism is working most of the time, and it's only in a race condition that it fails. From the video, it looks like you do an additional click while t

[2022-09-20 08:44] AdamGerthel commented on #37
That's correct. This can happen from button-mashing in a game (as in our case), but it could also be someone with trembling hands (i.e. Parkinson disease etc.).

[2022-09-20 14:52] #126 closed, assigned to nobody

[2022-09-20 14:53] SteffeyDev commented on #126
Feel free to re-open if this doesn't work for you @ginnymin

[2022-09-21 14:23] quizzyDev commented on #130
@SteffeyDev - Just updated to `5.1.4` and I can see the above patch in the compiled `BasePopover.js` and the `BasePopover.tsx` file. However I don't see the changes in the `master` branch atm - Just thought I'd point it out in case this wasn't intentional.

[2022-09-22 13:50] jonathanj commented on #82
I managed to unravel the styling problems, at least the ones I was having, and I'm happy with the results, I ran into two issues.

## 1. `StyleSheet.flatten`

RNW 0.18.x reworked the `StyleSheet` internals quite substantially, in my case `react-native-popover-view`'s use of `StyleSheet.flatten` was broken on RNW. The [RNW 0.18 release](https://github.com/necolas/react-native-web/releases/tag/0.18.

[2022-09-24 22:19] SteffeyDev commented on #130
Thanks for bringing this to my attention, I had been experimenting and forgetting to stash before building. I re-released as 5.1.5 without these changes, I need to do more testing to make sure that won't break anything. However, I suppose you can stick with 5.1.4 if it works for you and fixes the appium issue.

[2022-09-26 08:22] quizzyDev commented on #130
No worries @SteffeyDev  - I thought that'd be the case.

[2022-09-30 14:46] SherifMega opened #145 "App Crashing when trying to display tooltip in different screen"
if you are trying to display popover from different screen (it leads app to crash)

so imagine this scenario
- open screen 1
- click on button which after specific timeout display popover
- navigate to screen 2 before timeout finished and stay there
- app is crashed

<img width="406" alt="Screen Shot 2022-09-30 at 4 36 00 PM" src="https://user-images.githubusercontent.com/32880766/193293986-86b7af

[2022-10-05 19:11] smadan opened #146 "Not seeing popover on Android"
**Describe the bug**
Looks like the popover is not showing at all on Android. I noticed this after I changed my Android target SDK to 31.

**Device/Setup Info:**
 - Device: Pixel 5 emulator (Android Studio Chipmunk)
 - OS: Android 12, API 31
 - `react-native` version: 0.63.3
 - `react-native-popover-view` version: 5.1.5

**Debug Output**
[Wed Oct 05 2022 13:58:05.260]  LOG      [2022-10-05T17:58:0

[2022-10-08 06:42] rxliuli commented on #145
Temporarily fixed and released: react-native-popover-view-fix-145

[2022-10-08 11:30] SherifMega commented on #145
Thanks @rxliuli  ❤️ 🙏  it's fixed crash

but still there's blocking in another screen so you can't navigate or click at any element.

for ex screen x & screen y
tooltip in screen x

then navigate before display tooltip in screen x to screen y
after tootlip appeared in screen x
you can't navigate or click at anything in screen y

[2022-10-08 11:39] rxliuli commented on #145
I didn't encounter the problem you said, maybe you can modify it again

[2022-10-13 00:44] SteffeyDev commented on #146
From the logs, it looks like the problem is that the `anchorPoint` has a `y`-coordinate of `4080`, which is well beyond the display area height of `802.9`. Try putting the Popover outside of the scroll view, and don't use a `verticalOffset` unless needed. I would need to see what styles you are applying to be able to tell if any of them are causing issues.

[2022-10-13 16:06] smadan commented on #146
No it still doesn't work.

I tried putting it outside the scroll view and removed all custom styling and the vertical offset. Here is the entire screen now:

[code]

Here is what I see on screen:

![image](https://user-images.githubusercontent.com/4249264/195648001-5649b17c-011d-4bda-851f-9254714ade0c.png)

Logs are showing this:
`[Thu Oct 13 2022 12:05:09.818]  LOG      [2022-10-13T16:05:09.081Z]

[2022-10-13 16:34] smadan commented on #146
Ok some information. I was able to get the popover to show up, but ONLY when the app was deleted and reinstalled into the emulator. Same screen code as above.

Logs when the popover showed up right after re-installing the app:
[code]
![Screenshot_20221013_122442](https://user-images.githubusercontent.com/4249264/195653919-d1ffeb5e-e82e-460e-84aa-1b30b0be1963.png)

However, then I cold-started the

[2022-10-20 00:24] SteffeyDev commented on #146
@smadan Does this happen on a real device in addition to the emulator?

[2022-10-20 00:48] SteffeyDev commented on #145
@rxliuli 's fixed released as 1.5.6, please test and remove your NPM package if this works.

@SherifMega Can you provide more details on what you mean by screen? Are you using a navigation library? Can you reproduce in an expo snack?

[2022-10-20 10:41] SherifMega commented on #145
i mean here not just switching screens only

if popover isn't within screen view the screen is blocked and you can not do any action if it's popover tried to appear.

for example here in expo snack
flat list with 20 item

- if you tried to fire popover and you see the element it will work fine
- if onPress action will take some time to fire popover then you quickly scroll up before popover appeare

[2022-10-27 15:31] smadan commented on #146
@SteffeyDev I sadly don't have access to a real, newer Android device to test this on.

[2022-10-31 20:23] smadan commented on #146
I just tried on a Galaxy S9, Android 10. It doesn't work - I don't see popovers at all.

[2022-10-31 23:09] SteffeyDev commented on #146
I'm honestly not sure what's going on here, and not sure how to debug unless you can reproduce in an expo snack. Are you seeing negative y values on device as well?

[2022-11-04 16:17] RafaelPena31 commented on #146
im having this problem too

[2022-11-07 21:44] myou11 opened #148 "Export `PublicPopoverProps` instead of `PopoverProps`?"
**Describe the bug**
I am trying to create a default `Popover` component with my own custom `popoverStyle` and `arrowSize` so I dont have to repeat the same styles for each `Popover` usage. The `PopoverProps` in Typescript do not have the `from` prop, however, since the `from` prop is only specified on `PublicPopoverProps` which extends `PopoverProps` but is not exported as a type. So since I can'

[2022-11-08 01:59] SteffeyDev commented on #148
Good idea, `PublicPopoverProps` are now exported in `5.1.7`. Please re-open if this does not fix for you.

[2022-11-08 01:59] #148 closed

[2022-11-08 15:53] myou11 commented on #148
Thanks @SteffeyDev! much appreciated and it worked!

[2022-11-09 17:18] vickylance opened #149 "When I use PopOver as a tooltip its opening behind other containers below it."
**Describe the bug**
When using Popover with tooltip mode its opening behind all the components below it. Sending popoverStyle as absolute and zIndex is also not working as mentioned here https://github.com/SteffeyDev/react-native-popover-view/issues/95

Reproducable snack project - https://snack.expo.dev/Zi5bAa8DV

**Device/Setup Info:**
 - Device: Realme X50 Pro
 - OS: Android
 - `react-native`

[2022-11-10 02:34] SteffeyDev commented on #149
You can fix this by re-positing the location of the Popover component in the order of components. You will need to detach the Popover from the touchable and use `ref`s to link them (see https://github.com/SteffeyDev/react-native-popover-view#showing-popover-from-a-reference-to-an-element). The touchable can stay in the same place, but the popover will need to be moved below the other elements in t

[2022-11-10 03:53] vickylance commented on #149
@SteffeyDev  Thanks a lot it worked. Updated the snack expo with the example

[2022-11-10 03:53] #149 closed

[2022-11-10 03:58] SteffeyDev commented on #149
Glad to hear!

[2022-11-18 07:52] abouquet commented on #146
Having same issue (Galaxy S21), no popover on Android, but still have it on Expo

[2022-11-30 16:55] sarath40158 opened #150 "Latest react native > 0.70.0 PopUp position uneven"
**Describe the bug**
In Latest react native > 0.70.0 PopUp position jump's uneven

**Device/Setup Info:**
 - Device: All Iphone
 - OS:  15
 - `react-native`  0.70.0
- `react-native-popover-view`Latest

**Screenshots**
If there is a visual issue, add screenshots or a video so that I can see what is going on.

**Debug Output**
Pass the `debug={true}` prop into the Popover, and then paste the content